Repository apache/age, pull requests merged in 2023-10, with the labels that each got.

#1258 Extend access(->, ->>), addition and subtraction operators
  age--1.4.0.sql
  regress/expected/agtype.out
  regress/expected/expr.out
  regress/expected/jsonb_operators.out
  regress/sql/agtype.sql
  regress/sql/expr.sql
  regress/sql/jsonb_operators.sql
  src/backend/parser/cypher_gram.y
  src/backend/utils/adt/agtype.c
  src/backend/utils/adt/agtype_ops.c
Labels: master

#1261 Update README.md
  README.md
Labels: PG14

#1263 Updated Readme.md with new discord link
  README.md
Labels: PG13

#1267 Update README.md
  README.md
Labels: PG11

#1271 Optimize performance of detach delete
  regress/expected/cypher_delete.out
  regress/sql/cypher_delete.sql
  src/backend/executor/cypher_delete.c
  src/include/executor/cypher_utils.h
Labels: master

#1272 Implemented age_tail function
  age--1.4.0.sql
  regress/expected/expr.out
  regress/sql/expr.sql
  src/backend/utils/adt/agtype.c
Labels: PG11

#1268 Refactor Regression Tests for CASE statement
  regress/expected/expr.out
  regress/sql/expr.sql
Labels: master

#1265 Update README.md
  README.md
Labels: PG12

#1280 Implemented age_tail function
  age--1.4.0.sql
  regress/expected/expr.out
  regress/sql/expr.sql
  src/backend/utils/adt/agtype.c
Labels: PG12

#1281 Implemented age_tail function
  age--1.4.0.sql
  regress/expected/expr.out
  regress/sql/expr.sql
  src/backend/utils/adt/agtype.c
Labels: PG13

#1282 Implemented age_tail function
  age--1.4.0.sql
  regress/expected/expr.out
  regress/sql/expr.sql
  src/backend/utils/adt/agtype.c
Labels: PG14

#1273 Optimize performance of detach delete
  regress/expected/cypher_delete.out
  regress/sql/cypher_delete.sql
  src/backend/executor/cypher_delete.c
  src/include/executor/cypher_utils.h
Labels: PG11

#1274 Optimize performance of detach delete
  regress/expected/cypher_delete.out
  regress/sql/cypher_delete.sql
  src/backend/executor/cypher_delete.c
  src/include/executor/cypher_utils.h
Labels: PG12

#1275 Optimize performance of detach delete
  regress/expected/cypher_delete.out
  regress/sql/cypher_delete.sql
  src/backend/executor/cypher_delete.c
  src/include/executor/cypher_utils.h
Labels: PG13

#1276 Optimize performance of detach delete
  regress/expected/cypher_delete.out
  regress/sql/cypher_delete.sql
  src/backend/executor/cypher_delete.c
  src/include/executor/cypher_utils.h
Labels: PG14

#1283 Implemented age_tail function
  age--1.4.0.sql
  regress/expected/expr.out
  regress/sql/expr.sql
  src/backend/utils/adt/agtype.c
Labels: master

#1252 Optmize vertex and edge builder functions
  Makefile
  src/backend/utils/adt/agtype.c
  src/backend/utils/adt/agtype_raw.c
  src/include/utils/agtype_raw.h
Labels: master

#1288 Fix Issue 945 - incorrect count(*) return values
  regress/expected/cypher_delete.out
  regress/expected/cypher_match.out
  regress/expected/cypher_set.out
  regress/expected/expr.out
  regress/sql/cypher_match.sql
  src/backend/parser/cypher_clause.c
Labels: master

#1304 Fix issue #1302 - crash on NULL input to UNWIND
  regress/expected/cypher_unwind.out
  regress/sql/cypher_unwind.sql
  src/backend/utils/adt/agtype.c
Labels: master

#1306 Fix Issue 1305 - drop_label NULL cases
  regress/expected/drop.out
  regress/sql/drop.sql
  src/backend/commands/label_commands.c
Labels: master

#1300 Add additional index support and performance enhancements (#1232)
  age--1.4.0.sql
  regress/expected/cypher_match.out
  src/backend/parser/cypher_clause.c
  src/backend/parser/cypher_expr.c
  src/backend/utils/adt/agtype_ops.c
Labels: PG12

#1301 Add additional index support and performance enhancements (#1232)
  age--1.4.0.sql
  regress/expected/cypher_match.out
  src/backend/parser/cypher_clause.c
  src/backend/parser/cypher_expr.c
  src/backend/utils/adt/agtype_ops.c
Labels: PG11

#1314 Issue # 1007 - Add regression tests for MATCH clause using labels only (#1019)
  regress/expected/cypher_match.out
  regress/sql/cypher_match.sql
Labels: PG12

#1316 Fix Issue 945 - incorrect count(*) return values (#1288)
  regress/expected/cypher_delete.out
  regress/expected/cypher_match.out
  regress/expected/cypher_set.out
  regress/expected/expr.out
  regress/sql/cypher_match.sql
  src/backend/parser/cypher_clause.c
Labels: PG11

#1315 Fix Issue 945 - incorrect count(*) return values (#1288)
  regress/expected/cypher_delete.out
  regress/expected/cypher_match.out
  regress/expected/cypher_set.out
  regress/expected/expr.out
  regress/sql/cypher_match.sql
  src/backend/parser/cypher_clause.c
Labels: PG12

#1313 Fix Issue 945 - incorrect count(*) return values (#1288)
  regress/expected/cypher_delete.out
  regress/expected/cypher_match.out
  regress/expected/cypher_set.out
  regress/expected/expr.out
  regress/sql/cypher_match.sql
  src/backend/parser/cypher_clause.c
Labels: PG13

#1312 Fix Issue 945 - incorrect count(*) return values (#1288)
  regress/expected/cypher_delete.out
  regress/expected/cypher_match.out
  regress/expected/cypher_set.out
  regress/expected/expr.out
  regress/sql/cypher_match.sql
  src/backend/parser/cypher_clause.c
Labels: PG14

#1285 Extend agtype containment operators (@>, <@)
  age--1.4.0.sql
  regress/expected/agtype.out
  regress/expected/jsonb_operators.out
  regress/sql/agtype.sql
  regress/sql/jsonb_operators.sql
  src/backend/parser/ag_scanner.l
  src/backend/parser/cypher_gram.y
  src/backend/parser/cypher_parser.c
  src/backend/utils/adt/agtype_ops.c
  src/include/parser/ag_scanner.h
Labels: master

#1295 Fix issue #1045 - error using path var in WHERE
  regress/expected/cypher_match.out
  regress/expected/cypher_vle.out
  regress/sql/cypher_match.sql
  src/backend/parser/cypher_clause.c
  src/backend/parser/cypher_expr.c
  src/backend/parser/cypher_transform_entity.c
  src/include/parser/cypher_transform_entity.h
Labels: master

#1292 Add instruction to enter psql interface in Docker setup
  README.md
Labels: PG14

#1291 Add instruction to enter psql interface in Docker setup
  README.md
Labels: PG13

#1290 Add instruction to enter psql interface in Docker setup
  README.md
Labels: PG12

#1289 Add instruction to enter psql interface in Docker setup
  README.md
Labels: PG11

#1307 Optmize vertex and edge builder functions
  Makefile
  src/backend/utils/adt/agtype.c
  src/backend/utils/adt/agtype_raw.c
  src/include/utils/agtype_raw.h
Labels: PG14

#1308 Optmize vertex and edge builder functions
  Makefile
  src/backend/utils/adt/agtype.c
  src/backend/utils/adt/agtype_raw.c
  src/include/utils/agtype_raw.h
Labels: PG13

#1309 Optmize vertex and edge builder functions
  Makefile
  src/backend/utils/adt/agtype.c
  src/backend/utils/adt/agtype_raw.c
  src/include/utils/agtype_raw.h
Labels: PG12

#1310 Optmize vertex and edge builder functions
  Makefile
  src/backend/utils/adt/agtype.c
  src/backend/utils/adt/agtype_raw.c
  src/include/utils/agtype_raw.h
Labels: PG11

#1319 Refactor Regression Tests for CASE statement (#1268)
  regress/expected/expr.out
  regress/sql/expr.sql
Labels: PG11

#1320 Refactor Regression Tests for CASE statement (#1268)
  regress/expected/expr.out
  regress/sql/expr.sql
Labels: PG12

#1321 Refactor Regression Tests for CASE statement (#1268)
  regress/expected/expr.out
  regress/sql/expr.sql
Labels: PG13

#1322 Refactor Regression Tests for CASE statement (#1268)
  regress/expected/expr.out
  regress/sql/expr.sql
Labels: PG14

#1326 Fix Issue 1305 - drop_label NULL cases (#1306)
  regress/expected/drop.out
  regress/sql/drop.sql
  src/backend/commands/label_commands.c
Labels: PG11

#1325 Fix Issue 1305 - drop_label NULL cases (#1306)
  regress/expected/drop.out
  regress/sql/drop.sql
  src/backend/commands/label_commands.c
Labels: PG12

#1324 Fix Issue 1305 - drop_label NULL cases (#1306)
  regress/expected/drop.out
  regress/sql/drop.sql
  src/backend/commands/label_commands.c
Labels: PG13

#1323 Fix Issue 1305 - drop_label NULL cases (#1306)
  regress/expected/drop.out
  regress/sql/drop.sql
  src/backend/commands/label_commands.c
Labels: PG14

#1311 Modify COUNT() to output agtype
  regress/expected/expr.out
  regress/sql/expr.sql
  src/backend/parser/cypher_gram.y
Labels: master

#1336 Modify COUNT() to output agtype (#1311)
  regress/expected/expr.out
  regress/sql/expr.sql
  src/backend/parser/cypher_gram.y
Labels: PG13

#1338 Modify COUNT() to output agtype (#1311)
  regress/expected/expr.out
  regress/sql/expr.sql
  src/backend/parser/cypher_gram.y
Labels: PG14

#1335 Modify COUNT() to output agtype (#1311)
  regress/expected/expr.out
  regress/sql/expr.sql
  src/backend/parser/cypher_gram.y
Labels: PG12

#1334 Modify COUNT() to output agtype (#1311)
  regress/expected/expr.out
  regress/sql/expr.sql
  src/backend/parser/cypher_gram.y
Labels: PG11
