Repository apache/age, pull requests merged in 2023-09, with the labels that each got.

#1160 Fix Issue # 1159: Server terminates for SET plus-equal
  regress/expected/cypher_set.out
  regress/sql/cypher_set.sql
  src/backend/utils/adt/agtype.c
  src/backend/utils/adt/agtype_util.c
  src/include/utils/agtype.h
Labels: master

#1210 Fix Issue#1159: Server terminates for SET plus-equal
  regress/expected/cypher_set.out
  regress/sql/cypher_set.sql
  src/backend/utils/adt/agtype.c
  src/backend/utils/adt/agtype_util.c
  src/include/utils/agtype.h
Labels: PG11

#1209 Fix Issue#1159: Server terminates for SET plus-equal
  regress/expected/cypher_set.out
  regress/sql/cypher_set.sql
  src/backend/utils/adt/agtype.c
  src/backend/utils/adt/agtype_util.c
  src/include/utils/agtype.h
Labels: PG12

#1207 Fix Issue#1159: Server terminates for SET plus-equal
  regress/expected/cypher_set.out
  regress/sql/cypher_set.sql
  src/backend/utils/adt/agtype.c
  src/backend/utils/adt/agtype_util.c
  src/include/utils/agtype.h
Labels: PG14

#1208 Fix Issue#1159: Server terminates for SET plus-equal
  regress/expected/cypher_set.out
  regress/sql/cypher_set.sql
  src/backend/utils/adt/agtype.c
  src/backend/utils/adt/agtype_util.c
  src/include/utils/agtype.h
Labels: PG13

#1198 Add concat || operator to agtype
  Makefile
  age--1.4.0.sql
  regress/expected/jsonb_operators.out
  regress/sql/jsonb_operators.sql
  src/backend/parser/ag_scanner.l
  src/backend/parser/cypher_gram.y
  src/backend/parser/cypher_parser.c
  src/backend/utils/adt/agtype_ops.c
  src/include/parser/ag_scanner.h
Labels: master

#1213 Add concat || operator to agtype
  Makefile
  age--1.4.0.sql
  regress/expected/jsonb_operators.out
  regress/sql/jsonb_operators.sql
  src/backend/parser/ag_scanner.l
  src/backend/parser/cypher_gram.y
  src/backend/parser/cypher_parser.c
  src/backend/utils/adt/agtype_ops.c
  src/include/parser/ag_scanner.h
Labels: PG14

#1214 Add concat || operator to agtype
  Makefile
  age--1.4.0.sql
  regress/expected/jsonb_operators.out
  regress/sql/jsonb_operators.sql
  src/backend/parser/ag_scanner.l
  src/backend/parser/cypher_gram.y
  src/backend/parser/cypher_parser.c
  src/backend/utils/adt/agtype_ops.c
  src/include/parser/ag_scanner.h
Labels: PG13

#1215 Add concat || operator to agtype
  Makefile
  age--1.4.0.sql
  regress/expected/jsonb_operators.out
  regress/sql/jsonb_operators.sql
  src/backend/parser/ag_scanner.l
  src/backend/parser/cypher_gram.y
  src/backend/parser/cypher_parser.c
  src/backend/utils/adt/agtype_ops.c
  src/include/parser/ag_scanner.h
Labels: PG12

#1216 Add concat || operator to agtype
  Makefile
  age--1.4.0.sql
  regress/expected/jsonb_operators.out
  regress/sql/jsonb_operators.sql
  src/backend/parser/ag_scanner.l
  src/backend/parser/cypher_gram.y
  src/backend/parser/cypher_parser.c
  src/backend/utils/adt/agtype_ops.c
  src/include/parser/ag_scanner.h
Labels: PG11

#1218 Add exist(?, ?|, ?&) operators for agtype
  age--1.4.0.sql
  regress/expected/agtype.out
  regress/expected/jsonb_operators.out
  regress/sql/agtype.sql
  regress/sql/jsonb_operators.sql
  src/backend/parser/ag_scanner.l
  src/backend/parser/cypher_gram.y
  src/backend/parser/cypher_parser.c
  src/backend/utils/adt/agtype.c
  src/backend/utils/adt/agtype_gin.c
  src/backend/utils/adt/agtype_ops.c
  src/include/parser/ag_scanner.h
  src/include/utils/agtype.h
Labels: master

#1220 Add exist(?, ?|, ?&) operators for agtype
  age--1.4.0.sql
  regress/expected/agtype.out
  regress/expected/jsonb_operators.out
  regress/sql/agtype.sql
  regress/sql/jsonb_operators.sql
  src/backend/parser/ag_scanner.l
  src/backend/parser/cypher_gram.y
  src/backend/parser/cypher_parser.c
  src/backend/utils/adt/agtype.c
  src/backend/utils/adt/agtype_gin.c
  src/backend/utils/adt/agtype_ops.c
  src/include/parser/ag_scanner.h
  src/include/utils/agtype.h
Labels: PG11

#1221 Add exist(?, ?|, ?&) operators for agtype
  age--1.4.0.sql
  regress/expected/agtype.out
  regress/expected/jsonb_operators.out
  regress/sql/agtype.sql
  regress/sql/jsonb_operators.sql
  src/backend/parser/ag_scanner.l
  src/backend/parser/cypher_gram.y
  src/backend/parser/cypher_parser.c
  src/backend/utils/adt/agtype.c
  src/backend/utils/adt/agtype_gin.c
  src/backend/utils/adt/agtype_ops.c
  src/include/parser/ag_scanner.h
  src/include/utils/agtype.h
Labels: PG12

#1222 Add exist(?, ?|, ?&) operators for agtype
  age--1.4.0.sql
  regress/expected/agtype.out
  regress/expected/jsonb_operators.out
  regress/sql/agtype.sql
  regress/sql/jsonb_operators.sql
  src/backend/parser/ag_scanner.l
  src/backend/parser/cypher_gram.y
  src/backend/parser/cypher_parser.c
  src/backend/utils/adt/agtype.c
  src/backend/utils/adt/agtype_gin.c
  src/backend/utils/adt/agtype_ops.c
  src/include/parser/ag_scanner.h
  src/include/utils/agtype.h
Labels: PG14

#1223 Add exist(?, ?|, ?&) operators for agtype
  age--1.4.0.sql
  regress/expected/agtype.out
  regress/expected/jsonb_operators.out
  regress/sql/agtype.sql
  regress/sql/jsonb_operators.sql
  src/backend/parser/ag_scanner.l
  src/backend/parser/cypher_gram.y
  src/backend/parser/cypher_parser.c
  src/backend/utils/adt/agtype.c
  src/backend/utils/adt/agtype_gin.c
  src/backend/utils/adt/agtype_ops.c
  src/include/parser/ag_scanner.h
  src/include/utils/agtype.h
Labels: PG13

#1232 Add additional index support and performance enhancements
  age--1.4.0.sql
  src/backend/parser/cypher_clause.c
  src/backend/parser/cypher_expr.c
  src/backend/utils/adt/agtype_ops.c
Labels: master

#1224 Add path extraction(#>, #>>)operators to agtype
  age--1.4.0.sql
  regress/expected/jsonb_operators.out
  regress/sql/jsonb_operators.sql
  src/backend/parser/ag_scanner.l
  src/backend/parser/cypher_gram.y
  src/backend/parser/cypher_parser.c
  src/backend/utils/adt/agtype_ops.c
  src/include/parser/ag_scanner.h
Labels: master

#1241 Add path extraction(#>, #>>)operators to agtype
  age--1.4.0.sql
  regress/expected/jsonb_operators.out
  regress/sql/jsonb_operators.sql
  src/backend/parser/ag_scanner.l
  src/backend/parser/cypher_gram.y
  src/backend/parser/cypher_parser.c
  src/backend/utils/adt/agtype_ops.c
  src/include/parser/ag_scanner.h
Labels: PG14

#1244 Add path extraction(#>, #>>)operators to agtype
  age--1.4.0.sql
  regress/expected/jsonb_operators.out
  regress/sql/jsonb_operators.sql
  src/backend/parser/ag_scanner.l
  src/backend/parser/cypher_gram.y
  src/backend/parser/cypher_parser.c
  src/backend/utils/adt/agtype_ops.c
  src/include/parser/ag_scanner.h
Labels: PG11

#1243 Add path extraction(#>, #>>)operators to agtype
  age--1.4.0.sql
  regress/expected/jsonb_operators.out
  regress/sql/jsonb_operators.sql
  src/backend/parser/ag_scanner.l
  src/backend/parser/cypher_gram.y
  src/backend/parser/cypher_parser.c
  src/backend/utils/adt/agtype_ops.c
  src/include/parser/ag_scanner.h
Labels: PG12

#1242 Add path extraction(#>, #>>)operators to agtype
  age--1.4.0.sql
  regress/expected/jsonb_operators.out
  regress/sql/jsonb_operators.sql
  src/backend/parser/ag_scanner.l
  src/backend/parser/cypher_gram.y
  src/backend/parser/cypher_parser.c
  src/backend/utils/adt/agtype_ops.c
  src/include/parser/ag_scanner.h
Labels: PG13

#1246 Update the Python Driver
  drivers/python/README.md
  drivers/python/requirements.txt
  drivers/python/setup.py
  drivers/python/test_age_py.py
Labels: master

#1251 Add additional index support and performance enhancements (#1232)
  age--1.4.0.sql
  src/backend/parser/cypher_clause.c
  src/backend/parser/cypher_expr.c
  src/backend/utils/adt/agtype_ops.c
Labels: PG14

#1236 Refactor the IN operator to use '= ANY()' syntax
  regress/expected/expr.out
  regress/sql/expr.sql
  src/backend/parser/cypher_expr.c
  src/backend/utils/adt/agtype_ops.c
Labels: master

#1253 Update Discord channel in README.md
  README.md
Labels: master

#1250 Add additional index support and performance enhancements (#1232)
  age--1.4.0.sql
  src/backend/parser/cypher_clause.c
  src/backend/parser/cypher_expr.c
  src/backend/utils/adt/agtype_ops.c
Labels: PG13

#1256 Add missing dependency in cypher_expr.c
  src/backend/parser/cypher_expr.c
Labels: master
