Repository apache/age, pull requests merged in 2023-12, with the labels that each got.

#1431 Add support for chained expressions in CASE
  regress/expected/expr.out
  regress/sql/expr.sql
  src/backend/parser/cypher_expr.c
Labels: master

#1434 Add support for chained expressions in CASE (#1431)
  regress/expected/expr.out
  regress/sql/expr.sql
  src/backend/parser/cypher_expr.c
Labels: PG14

#1437 Add support for chained expressions in CASE (#1431)
  regress/expected/expr.out
  regress/sql/expr.sql
  src/backend/parser/cypher_expr.c
Labels: PG11

#1433 Converted SQL mail into multiple files. (#1401)
  .gitignore
  Makefile
  age--1.4.0.sql
  sql/age_aggregate.sql
  sql/age_agtype.sql
  sql/age_main.sql
  sql/age_query.sql
  sql/age_scalar.sql
  sql/age_string.sql
  sql/age_trig.sql
  sql/agtype_access.sql
  sql/agtype_coercions.sql
  sql/agtype_comparison.sql
  sql/agtype_exists.sql
  sql/agtype_gin.sql
  sql/agtype_graphid.sql
  sql/agtype_operators.sql
  sql/agtype_string.sql
  sql/agtype_typecast.sql
  sql/sql_files
Labels: PG11

#1442 Fix issue 1219 - MERGE not seeing previous clause var (#1441)
  regress/expected/cypher_merge.out
  regress/sql/cypher_merge.sql
  src/backend/nodes/cypher_outfuncs.c
  src/backend/optimizer/cypher_createplan.c
  src/backend/optimizer/cypher_pathnode.c
  src/backend/parser/cypher_clause.c
  src/backend/parser/cypher_gram.y
  src/include/nodes/cypher_nodes.h
Labels: PG14

#1443 Fix issue 1219 - MERGE not seeing previous clause var (#1441)
  regress/expected/cypher_merge.out
  regress/sql/cypher_merge.sql
  src/backend/nodes/cypher_outfuncs.c
  src/backend/optimizer/cypher_createplan.c
  src/backend/optimizer/cypher_pathnode.c
  src/backend/parser/cypher_clause.c
  src/backend/parser/cypher_gram.y
  src/include/nodes/cypher_nodes.h
Labels: PG13

#1444 Fix issue 1219 - MERGE not seeing previous clause var (#1441)
  regress/expected/cypher_merge.out
  regress/sql/cypher_merge.sql
  src/backend/nodes/cypher_outfuncs.c
  src/backend/optimizer/cypher_createplan.c
  src/backend/optimizer/cypher_pathnode.c
  src/backend/parser/cypher_clause.c
  src/backend/parser/cypher_gram.y
  src/include/nodes/cypher_nodes.h
Labels: PG12

#1445 Fix issue 1219 - MERGE not seeing previous clause var (#1441)
  regress/expected/cypher_merge.out
  regress/sql/cypher_merge.sql
  src/backend/nodes/cypher_outfuncs.c
  src/backend/optimizer/cypher_createplan.c
  src/backend/optimizer/cypher_pathnode.c
  src/backend/parser/cypher_clause.c
  src/backend/parser/cypher_gram.y
  src/include/nodes/cypher_nodes.h
Labels: PG11

#1449 Fix Docker file to reflect PostgreSQL version 15
  docker/Dockerfile.dev
Labels: master

#1451 Master to PostgreSQL version 16
  .github/workflows/go-driver.yml
  .github/workflows/installcheck.yaml
  .github/workflows/jdbc-driver.yaml
  .github/workflows/nodejs-driver.yaml
  .github/workflows/python-driver.yaml
  .gitignore
  docker/Dockerfile
  docker/Dockerfile.dev
  src/backend/catalog/ag_catalog.c
  src/backend/catalog/ag_graph.c
  src/backend/catalog/ag_label.c
  src/backend/commands/label_commands.c
  src/backend/executor/cypher_create.c
  src/backend/executor/cypher_merge.c
  src/backend/executor/cypher_set.c
  src/backend/executor/cypher_utils.c
  src/backend/nodes/cypher_readfuncs.c
  src/backend/parser/cypher_analyze.c
  src/backend/parser/cypher_clause.c
  src/backend/parser/cypher_expr.c
  src/backend/parser/cypher_item.c
  src/backend/parser/cypher_parse_agg.c
  src/backend/utils/adt/agtype.c
  src/backend/utils/adt/agtype_gin.c
  src/backend/utils/adt/agtype_ops.c
  src/backend/utils/adt/agtype_parser.c
  src/backend/utils/ag_func.c
  src/backend/utils/cache/ag_cache.c
  src/backend/utils/graph_generation.c
Labels: master

#1463 Update README.md file for PostgreSQL version 16 support
  README.md
Labels: master

#1456 Extend access(->, ->>), addition and subtraction operators(#1258)
  regress/expected/agtype.out
  regress/expected/expr.out
  regress/expected/jsonb_operators.out
  regress/sql/agtype.sql
  regress/sql/expr.sql
  regress/sql/jsonb_operators.sql
  sql/agtype_access.sql
  src/backend/parser/cypher_gram.y
  src/backend/utils/adt/agtype.c
  src/backend/utils/adt/agtype_ops.c
Labels: PG11

#1457 Extend access(->, ->>), addition and subtraction operators(#1258)
  regress/expected/agtype.out
  regress/expected/expr.out
  regress/expected/jsonb_operators.out
  regress/sql/agtype.sql
  regress/sql/expr.sql
  regress/sql/jsonb_operators.sql
  sql/agtype_access.sql
  src/backend/parser/cypher_gram.y
  src/backend/utils/adt/agtype.c
  src/backend/utils/adt/agtype_ops.c
Labels: PG12

#1458 Extend access(->, ->>), addition and subtraction operators(#1258)
  regress/expected/agtype.out
  regress/expected/expr.out
  regress/expected/jsonb_operators.out
  regress/sql/agtype.sql
  regress/sql/expr.sql
  regress/sql/jsonb_operators.sql
  sql/agtype_access.sql
  src/backend/parser/cypher_gram.y
  src/backend/utils/adt/agtype.c
  src/backend/utils/adt/agtype_ops.c
Labels: PG13

#1459 Extend access(->, ->>), addition and subtraction operators(#1258)
  regress/expected/agtype.out
  regress/expected/expr.out
  regress/expected/jsonb_operators.out
  regress/sql/agtype.sql
  regress/sql/expr.sql
  regress/sql/jsonb_operators.sql
  sql/agtype_access.sql
  src/backend/parser/cypher_gram.y
  src/backend/utils/adt/agtype.c
  src/backend/utils/adt/agtype_ops.c
Labels: PG14

#1465 Clean up #included files in parser directory
  src/backend/age.c
  src/backend/parser/cypher_analyze.c
  src/backend/parser/cypher_clause.c
  src/backend/parser/cypher_expr.c
  src/backend/parser/cypher_gram.y
  src/backend/parser/cypher_item.c
  src/backend/parser/cypher_keywords.c
  src/backend/parser/cypher_parse_node.c
  src/backend/parser/cypher_parser.c
Labels: master

#1472 Clean up #included files in parser directory (#1465)
  src/backend/age.c
  src/backend/parser/cypher_analyze.c
  src/backend/parser/cypher_clause.c
  src/backend/parser/cypher_expr.c
  src/backend/parser/cypher_gram.y
  src/backend/parser/cypher_item.c
  src/backend/parser/cypher_keywords.c
  src/backend/parser/cypher_parse_node.c
  src/backend/parser/cypher_parser.c
Labels: PG11

#1470 Clean up #included files in parser directory (#1465)
  src/backend/age.c
  src/backend/parser/cypher_analyze.c
  src/backend/parser/cypher_clause.c
  src/backend/parser/cypher_expr.c
  src/backend/parser/cypher_gram.y
  src/backend/parser/cypher_item.c
  src/backend/parser/cypher_keywords.c
  src/backend/parser/cypher_parse_node.c
  src/backend/parser/cypher_parser.c
Labels: PG13

#1471 Clean up #included files in parser directory (#1465)
  src/backend/age.c
  src/backend/parser/cypher_analyze.c
  src/backend/parser/cypher_clause.c
  src/backend/parser/cypher_expr.c
  src/backend/parser/cypher_gram.y
  src/backend/parser/cypher_item.c
  src/backend/parser/cypher_keywords.c
  src/backend/parser/cypher_parse_node.c
  src/backend/parser/cypher_parser.c
Labels: PG12

#1469 Clean up #included files in parser directory (#1465)
  src/backend/age.c
  src/backend/parser/cypher_analyze.c
  src/backend/parser/cypher_clause.c
  src/backend/parser/cypher_expr.c
  src/backend/parser/cypher_gram.y
  src/backend/parser/cypher_item.c
  src/backend/parser/cypher_keywords.c
  src/backend/parser/cypher_parse_node.c
  src/backend/parser/cypher_parser.c
Labels: PG14

#1468 Clean up #included files in parser directory (#1465)
  src/backend/age.c
  src/backend/parser/cypher_analyze.c
  src/backend/parser/cypher_clause.c
  src/backend/parser/cypher_expr.c
  src/backend/parser/cypher_gram.y
  src/backend/parser/cypher_item.c
  src/backend/parser/cypher_keywords.c
  src/backend/parser/cypher_parse_node.c
  src/backend/parser/cypher_parser.c
Labels: PG15
