Repository apache/age, pull requests merged in 2023-11, with the labels that each got.

#1339 Fix Issue 1329 - agtype_to_int4 crash
  regress/expected/agtype.out
  regress/expected/expr.out
  regress/sql/agtype.sql
  regress/sql/expr.sql
  src/backend/utils/adt/agtype.c
Labels: master

#1333 Fix issue 1303: Server crashes on executing SELECT * FROM agtype(null); (#1317)
  regress/expected/expr.out
  regress/sql/expr.sql
  src/backend/parser/cypher_analyze.c
Labels: PG11

#1330 Fix issue 1303: Server crashes on executing SELECT * FROM agtype(null); (#1317)
  regress/expected/expr.out
  regress/sql/expr.sql
  src/backend/parser/cypher_analyze.c
Labels: PG14

#1331 Fix issue 1303: Server crashes on executing SELECT * FROM agtype(null); (#1317)
  regress/expected/expr.out
  regress/sql/expr.sql
  src/backend/parser/cypher_analyze.c
Labels: PG13

#1332 Fix issue 1303: Server crashes on executing SELECT * FROM agtype(null); (#1317)
  regress/expected/expr.out
  regress/sql/expr.sql
  src/backend/parser/cypher_analyze.c
Labels: PG12

#1349 Fix issue #1347 - unknow type of agtype container 0
  src/backend/utils/adt/age_global_graph.c
Labels: master

#1346 Fix Issue 1329 - agtype_to_int4 crash (#1339)
  regress/expected/agtype.out
  regress/expected/expr.out
  regress/sql/agtype.sql
  regress/sql/expr.sql
  src/backend/utils/adt/agtype.c
Labels: PG11

#1344 Fix Issue 1329 - agtype_to_int4 crash (#1339)
  regress/expected/agtype.out
  regress/expected/expr.out
  regress/sql/agtype.sql
  regress/sql/expr.sql
  src/backend/utils/adt/agtype.c
Labels: PG12

#1343 Fix Issue 1329 - agtype_to_int4 crash (#1339)
  regress/expected/agtype.out
  regress/expected/expr.out
  regress/sql/agtype.sql
  regress/sql/expr.sql
  src/backend/utils/adt/agtype.c
Labels: PG13

#1342 Fix Issue 1329 - agtype_to_int4 crash (#1339)
  regress/expected/agtype.out
  regress/expected/expr.out
  regress/sql/agtype.sql
  regress/sql/expr.sql
  src/backend/utils/adt/agtype.c
Labels: PG14

#1351 Fix issue #1347 - unknow type of agtype container 0
  src/backend/utils/adt/age_global_graph.c
Labels: PG13

#1352 Fix issue #1347 - unknow type of agtype container 0
  src/backend/utils/adt/age_global_graph.c
Labels: PG12

#1353 Fix issue #1347 - unknow type of agtype container 0
  src/backend/utils/adt/age_global_graph.c
Labels: PG11

#1350 Fix issue #1347 - unknow type of agtype container 0
  src/backend/utils/adt/age_global_graph.c
Labels: PG14

#1355 Hotfix for DockerHub on PG11
  src/backend/utils/adt/age_global_graph.c
Labels: PG11

#1360 Fix issue 1302 - crash on NULL input to UNWIND
  regress/expected/cypher_unwind.out
  regress/sql/cypher_unwind.sql
  src/backend/utils/adt/agtype.c
Labels: PG11

#1361 Fix issue 1302 - crash on NULL input to UNWIND
  regress/expected/cypher_unwind.out
  regress/sql/cypher_unwind.sql
  src/backend/utils/adt/agtype.c
Labels: PG12

#1362 Fix issue 1302 - crash on NULL input to UNWIND
  regress/expected/cypher_unwind.out
  regress/sql/cypher_unwind.sql
  src/backend/utils/adt/agtype.c
Labels: PG13

#1363 Fix issue 1302 - crash on NULL input to UNWIND
  regress/expected/cypher_unwind.out
  regress/sql/cypher_unwind.sql
  src/backend/utils/adt/agtype.c
Labels: PG14

#1364 Fix typo in agtype_raw.h header guard
  src/include/utils/agtype_raw.h
Labels: PG11

#1354 Clean up agtype_to_int8, agtype_to_int4, & agtype_to_int2
  regress/expected/agtype.out
  regress/sql/agtype.sql
  src/backend/utils/adt/agtype.c
Labels: master

#1368 Fix typo in agtype_raw.h header guard
  src/include/utils/agtype_raw.h
Labels: master

#1367 Fix typo in agtype_raw.h header guard
  src/include/utils/agtype_raw.h
Labels: PG14

#1366 Fix typo in agtype_raw.h header guard
  src/include/utils/agtype_raw.h
Labels: PG13

#1365 Fix typo in agtype_raw.h header guard
  src/include/utils/agtype_raw.h
Labels: PG12

#1356 Fix issue 1045 - error using path var in WHERE
  regress/expected/cypher_match.out
  regress/expected/cypher_vle.out
  regress/sql/cypher_match.sql
  src/backend/parser/cypher_clause.c
  src/backend/parser/cypher_expr.c
  src/backend/parser/cypher_transform_entity.c
  src/include/parser/cypher_transform_entity.h
Labels: PG12

#1357 Fix issue 1045 - error using path var in WHERE
  regress/expected/cypher_match.out
  regress/expected/cypher_vle.out
  regress/sql/cypher_match.sql
  src/backend/parser/cypher_clause.c
  src/backend/parser/cypher_expr.c
  src/backend/parser/cypher_transform_entity.c
  src/include/parser/cypher_transform_entity.h
Labels: PG13

#1358 Fix issue 1045 - error using path var in WHERE
  regress/expected/cypher_match.out
  regress/expected/cypher_vle.out
  regress/sql/cypher_match.sql
  src/backend/parser/cypher_clause.c
  src/backend/parser/cypher_expr.c
  src/backend/parser/cypher_transform_entity.c
  src/include/parser/cypher_transform_entity.h
Labels: PG14

#1359 Fix issue 1045 - error using path var in WHERE
  regress/expected/cypher_match.out
  regress/expected/cypher_vle.out
  regress/sql/cypher_match.sql
  src/backend/parser/cypher_clause.c
  src/backend/parser/cypher_expr.c
  src/backend/parser/cypher_transform_entity.c
  src/include/parser/cypher_transform_entity.h
Labels: PG11

#1345 Implement EXISTS subquery for CASE
  regress/expected/expr.out
  regress/sql/expr.sql
  src/backend/parser/cypher_gram.y
Labels: master

#1373 Fix ambiguous conditions
  src/backend/utils/adt/agtype_ops.c
Labels: master

#1374 Fix ambiguous conditions
  src/backend/utils/adt/agtype_ops.c
Labels: PG11

#1377 Fix ambiguous conditions
  src/backend/utils/adt/agtype_ops.c
Labels: PG14

#1376 Fix ambiguous conditions
  src/backend/utils/adt/agtype_ops.c
Labels: PG13

#1375 Fix ambiguous conditions
  src/backend/utils/adt/agtype_ops.c
Labels: PG12

#1378 Fix DockerHub warning messages for PG12_latest
  src/backend/utils/adt/agtype.c
Labels: PG12

#1379 Fix DockerHub warning messages for PG13_latest
  src/backend/utils/adt/agtype.c
Labels: PG13

#1380 Fix DockerHub warning messages for latest
  src/backend/parser/cypher_analyze.c
  src/backend/parser/cypher_clause.c
  src/backend/parser/cypher_expr.c
  src/backend/utils/adt/agtype_gin.c
  src/include/utils/agtype.h
Labels: master

#1372 Clean up agtype_to_int8, agtype_to_int4, & agtype_to_int2 (#1354)
  regress/expected/agtype.out
  regress/sql/agtype.sql
  src/backend/utils/adt/agtype.c
Labels: PG11

#1371 Clean up agtype_to_int8, agtype_to_int4, & agtype_to_int2 (#1354)
  regress/expected/agtype.out
  regress/sql/agtype.sql
  src/backend/utils/adt/agtype.c
Labels: PG12

#1370 Clean up agtype_to_int8, agtype_to_int4, & agtype_to_int2 (#1354)
  regress/expected/agtype.out
  regress/sql/agtype.sql
  src/backend/utils/adt/agtype.c
Labels: PG13

#1369 Clean up agtype_to_int8, agtype_to_int4, & agtype_to_int2 (#1354)
  regress/expected/agtype.out
  regress/sql/agtype.sql
  src/backend/utils/adt/agtype.c
Labels: PG14

#1385 Fix DockerHub warning messages for PG14_latest
  src/backend/utils/adt/agtype_gin.c
  src/backend/utils/graph_generation.c
Labels: PG14

#1386 Fix DockerHub warning messages for PG13_latest
  src/backend/parser/cypher_analyze.c
  src/backend/parser/cypher_clause.c
  src/backend/utils/adt/agtype_gin.c
Labels: PG13

#1387 Fix DockerHub warning messages for PG12_latest
  src/backend/utils/adt/agtype_gin.c
Labels: PG12

#1384 Implement EXISTS subquery for CASE (#1345)
  regress/expected/expr.out
  regress/sql/expr.sql
  src/backend/parser/cypher_gram.y
Labels: PG14

#1388 Fix DockerHub warning messages for PG11_latest
  src/backend/utils/adt/agtype.c
  src/backend/utils/adt/agtype_gin.c
Labels: PG11

#1390 Fix issue #1389 - Server crashes on using null operand for access operators
  regress/expected/jsonb_operators.out
  regress/sql/jsonb_operators.sql
  src/backend/utils/adt/agtype.c
Labels: master

#1394 Remove unnecessary #include in src/backend/utils
  src/backend/utils/adt/ag_float8_supp.c
  src/backend/utils/adt/age_global_graph.c
  src/backend/utils/adt/age_graphid_ds.c
  src/backend/utils/adt/age_vle.c
  src/backend/utils/adt/agtype.c
  src/backend/utils/adt/agtype_ext.c
  src/backend/utils/adt/agtype_gin.c
  src/backend/utils/adt/agtype_ops.c
  src/backend/utils/adt/agtype_raw.c
  src/backend/utils/adt/agtype_util.c
  src/backend/utils/adt/graphid.c
  src/backend/utils/ag_func.c
  src/backend/utils/ag_guc.c
  src/backend/utils/cache/ag_cache.c
  src/backend/utils/graph_generation.c
  src/backend/utils/load/ag_load_labels.c
  src/backend/utils/load/age_load.c
Labels: PG14

#1397 Remove unnecessary #include in src/backend/utils
  src/backend/utils/adt/age_global_graph.c
  src/backend/utils/adt/age_graphid_ds.c
  src/backend/utils/adt/age_vle.c
  src/backend/utils/adt/agtype.c
  src/backend/utils/adt/agtype_ext.c
  src/backend/utils/adt/agtype_gin.c
  src/backend/utils/adt/agtype_ops.c
  src/backend/utils/adt/agtype_raw.c
  src/backend/utils/adt/agtype_util.c
  src/backend/utils/adt/graphid.c
  src/backend/utils/ag_func.c
  src/backend/utils/ag_guc.c
  src/backend/utils/cache/ag_cache.c
  src/backend/utils/graph_generation.c
  src/backend/utils/load/ag_load_labels.c
  src/backend/utils/load/age_load.c
  src/include/utils/age_graphid_ds.h
Labels: PG11

#1396 Remove unnecessary #include in src/backend/utils
  src/backend/utils/adt/ag_float8_supp.c
  src/backend/utils/adt/age_global_graph.c
  src/backend/utils/adt/age_graphid_ds.c
  src/backend/utils/adt/age_vle.c
  src/backend/utils/adt/agtype.c
  src/backend/utils/adt/agtype_ext.c
  src/backend/utils/adt/agtype_gin.c
  src/backend/utils/adt/agtype_ops.c
  src/backend/utils/adt/agtype_raw.c
  src/backend/utils/adt/agtype_util.c
  src/backend/utils/adt/graphid.c
  src/backend/utils/ag_func.c
  src/backend/utils/ag_guc.c
  src/backend/utils/cache/ag_cache.c
  src/backend/utils/graph_generation.c
  src/backend/utils/load/ag_load_labels.c
  src/backend/utils/load/age_load.c
Labels: PG12

#1395 Remove unnecessary #include in src/backend/utils
  src/backend/utils/adt/ag_float8_supp.c
  src/backend/utils/adt/age_global_graph.c
  src/backend/utils/adt/age_graphid_ds.c
  src/backend/utils/adt/age_vle.c
  src/backend/utils/adt/agtype.c
  src/backend/utils/adt/agtype_ext.c
  src/backend/utils/adt/agtype_gin.c
  src/backend/utils/adt/agtype_ops.c
  src/backend/utils/adt/agtype_raw.c
  src/backend/utils/adt/agtype_util.c
  src/backend/utils/adt/graphid.c
  src/backend/utils/ag_func.c
  src/backend/utils/ag_guc.c
  src/backend/utils/cache/ag_cache.c
  src/backend/utils/graph_generation.c
  src/backend/utils/load/ag_load_labels.c
  src/backend/utils/load/age_load.c
Labels: PG13

#1400 Fix issue #1399 EXISTS doesn't handle non-existent labels
  regress/expected/cypher_match.out
  regress/sql/cypher_match.sql
  src/backend/parser/cypher_transform_entity.c
Labels: master

#1403 Fix issue #1399 EXISTS doesn't handle non-existent labels (#1400)
  regress/expected/cypher_match.out
  regress/sql/cypher_match.sql
  src/backend/parser/cypher_transform_entity.c
Labels: PG14

#1404 Fix issue #1399 EXISTS doesn't handle non-existent labels (#1400)
  regress/expected/cypher_match.out
  regress/sql/cypher_match.sql
  src/backend/parser/cypher_transform_entity.c
Labels: PG13

#1405 Fix issue #1399 EXISTS doesn't handle non-existent labels (#1400)
  regress/expected/cypher_match.out
  regress/sql/cypher_match.sql
  src/backend/parser/cypher_transform_entity.c
Labels: PG12

#1406 Fix issue #1399 EXISTS doesn't handle non-existent labels (#1400)
  regress/expected/cypher_match.out
  regress/sql/cypher_match.sql
  src/backend/parser/cypher_transform_entity.c
Labels: PG11

#1410 Implement chained expression order of operations (#1402)
  regress/expected/cypher_call.out
  regress/expected/expr.out
  regress/sql/expr.sql
  src/backend/nodes/ag_nodes.c
  src/backend/nodes/cypher_outfuncs.c
  src/backend/parser/cypher_expr.c
  src/backend/parser/cypher_gram.y
  src/include/nodes/ag_nodes.h
  src/include/nodes/cypher_nodes.h
  src/include/nodes/cypher_outfuncs.h
Labels: PG11

#1409 Implement chained expression order of operations (#1402)
  regress/expected/cypher_call.out
  regress/expected/expr.out
  regress/sql/expr.sql
  src/backend/nodes/ag_nodes.c
  src/backend/nodes/cypher_outfuncs.c
  src/backend/parser/cypher_expr.c
  src/backend/parser/cypher_gram.y
  src/include/nodes/ag_nodes.h
  src/include/nodes/cypher_nodes.h
  src/include/nodes/cypher_outfuncs.h
Labels: PG12

#1408 Implement chained expression order of operations (#1402)
  regress/expected/cypher_call.out
  regress/expected/expr.out
  regress/sql/expr.sql
  src/backend/nodes/ag_nodes.c
  src/backend/nodes/cypher_outfuncs.c
  src/backend/parser/cypher_expr.c
  src/backend/parser/cypher_gram.y
  src/include/nodes/ag_nodes.h
  src/include/nodes/cypher_nodes.h
  src/include/nodes/cypher_outfuncs.h
Labels: PG13

#1407 Implement chained expression order of operations (#1402)
  regress/expected/cypher_call.out
  regress/expected/expr.out
  regress/sql/expr.sql
  src/backend/nodes/ag_nodes.c
  src/backend/nodes/cypher_outfuncs.c
  src/backend/parser/cypher_expr.c
  src/backend/parser/cypher_gram.y
  src/include/nodes/ag_nodes.h
  src/include/nodes/cypher_nodes.h
  src/include/nodes/cypher_outfuncs.h
Labels: PG14

#1412 Fix issue #1398 - SET followed by DELETE does not delete
  regress/expected/cypher_delete.out
  regress/sql/cypher_delete.sql
  src/backend/executor/cypher_delete.c
Labels: master

#1417 Fix issue #1398 - SET followed by DELETE does not delete
  regress/expected/cypher_delete.out
  regress/sql/cypher_delete.sql
  src/backend/executor/cypher_delete.c
Labels: PG11

#1416 Fix issue #1398 - SET followed by DELETE does not delete
  regress/expected/cypher_delete.out
  regress/sql/cypher_delete.sql
  src/backend/executor/cypher_delete.c
Labels: PG12

#1415 Fix issue #1398 - SET followed by DELETE does not delete
  regress/expected/cypher_delete.out
  regress/sql/cypher_delete.sql
  src/backend/executor/cypher_delete.c
Labels: PG13

#1414 Fix issue #1398 - SET followed by DELETE does not delete
  regress/expected/cypher_delete.out
  regress/sql/cypher_delete.sql
  src/backend/executor/cypher_delete.c
Labels: PG14

#1421 Extend agtype containment operators (@>, <@) (#1285)
  age--1.4.0.sql
  regress/expected/agtype.out
  regress/expected/jsonb_operators.out
  regress/sql/agtype.sql
  regress/sql/jsonb_operators.sql
  src/backend/parser/ag_scanner.l
  src/backend/parser/cypher_gram.y
  src/backend/parser/cypher_parser.c
  src/backend/utils/adt/agtype_ops.c
  src/include/parser/ag_scanner.h
Labels: PG11

#1420 Extend agtype containment operators (@>, <@) (#1285)
  age--1.4.0.sql
  regress/expected/agtype.out
  regress/expected/jsonb_operators.out
  regress/sql/agtype.sql
  regress/sql/jsonb_operators.sql
  src/backend/parser/ag_scanner.l
  src/backend/parser/cypher_gram.y
  src/backend/parser/cypher_parser.c
  src/backend/utils/adt/agtype_ops.c
  src/include/parser/ag_scanner.h
Labels: PG12

#1419 Extend agtype containment operators (@>, <@) (#1285)
  age--1.4.0.sql
  regress/expected/agtype.out
  regress/expected/jsonb_operators.out
  regress/sql/agtype.sql
  regress/sql/jsonb_operators.sql
  src/backend/parser/ag_scanner.l
  src/backend/parser/cypher_gram.y
  src/backend/parser/cypher_parser.c
  src/backend/utils/adt/agtype_ops.c
  src/include/parser/ag_scanner.h
Labels: PG13

#1418 Extend agtype containment operators (@>, <@) (#1285)
  age--1.4.0.sql
  regress/expected/agtype.out
  regress/expected/jsonb_operators.out
  regress/sql/agtype.sql
  regress/sql/jsonb_operators.sql
  src/backend/parser/ag_scanner.l
  src/backend/parser/cypher_gram.y
  src/backend/parser/cypher_parser.c
  src/backend/utils/adt/agtype_ops.c
  src/include/parser/ag_scanner.h
Labels: PG14

#1426 Fix issue 1393 - previous clause variables not seen with EXISTS
  regress/expected/cypher_match.out
  regress/sql/cypher_match.sql
  src/backend/parser/cypher_clause.c
Labels: master

#1427 Fix issue 1393 - previous clause variables not seen with EXISTS (#1426)
  regress/expected/cypher_match.out
  regress/sql/cypher_match.sql
  src/backend/parser/cypher_clause.c
Labels: PG14

#1428 Fix issue 1393 - previous clause variables not seen with EXISTS (#1426)
  regress/expected/cypher_match.out
  regress/sql/cypher_match.sql
  src/backend/parser/cypher_clause.c
Labels: PG13

#1429 Fix issue 1393 - previous clause variables not seen with EXISTS (#1426)
  regress/expected/cypher_match.out
  regress/sql/cypher_match.sql
  src/backend/parser/cypher_clause.c
Labels: PG12

#1430 Fix issue 1393 - previous clause variables not seen with EXISTS (#1426)
  regress/expected/cypher_match.out
  regress/sql/cypher_match.sql
  src/backend/parser/cypher_clause.c
Labels: PG11

#1424 Converted SQL mail into multiple files.
  .gitignore
  Makefile
  age--1.4.0.sql
  sql/age_aggregate.sql
  sql/age_agtype.sql
  sql/age_main.sql
  sql/age_query.sql
  sql/age_scalar.sql
  sql/age_string.sql
  sql/age_trig.sql
  sql/agtype_access.sql
  sql/agtype_coercions.sql
  sql/agtype_comparison.sql
  sql/agtype_exists.sql
  sql/agtype_gin.sql
  sql/agtype_graphid.sql
  sql/agtype_operators.sql
  sql/agtype_string.sql
  sql/agtype_typecast.sql
  sql/sql_files
Labels: PG13
