Repository apache/age, pull requests merged in 2024-08, with the labels that each got.

#2007 Fix obsolete docker-compose command in CIs
  .github/workflows/go-driver.yml
  .github/workflows/jdbc-driver.yaml
  .github/workflows/nodejs-driver.yaml
  .github/workflows/python-driver.yaml
Labels: master, override-stale

#2008 Fix obsolete docker-compose command in CIs
  .github/workflows/go-driver.yml
  .github/workflows/jdbc-driver.yaml
  .github/workflows/nodejs-driver.yaml
  .github/workflows/python-driver.yaml
Labels: PG13, override-stale

#2009 Fix obsolete docker-compose command in CIs
  .github/workflows/go-driver.yml
  .github/workflows/jdbc-driver.yaml
  .github/workflows/nodejs-driver.yaml
  .github/workflows/python-driver.yaml
Labels: PG14, override-stale

#2010 Fix obsolete docker-compose command in CIs
  .github/workflows/go-driver.yml
  .github/workflows/jdbc-driver.yaml
  .github/workflows/nodejs-driver.yaml
  .github/workflows/python-driver.yaml
Labels: PG15, override-stale

#2011 Fix obsolete docker-compose command in CIs
  .github/workflows/go-driver.yml
  .github/workflows/jdbc-driver.yaml
  .github/workflows/nodejs-driver.yaml
  .github/workflows/python-driver.yaml
Labels: PG16, override-stale

#2013 Fix obsolete docker-compose command in CIs
  .github/workflows/go-driver.yml
  .github/workflows/jdbc-driver.yaml
  .github/workflows/nodejs-driver.yaml
  .github/workflows/python-driver.yaml
Labels: PG12, override-stale

#2012 Fix obsolete docker-compose command in CIs
  .github/workflows/go-driver.yml
  .github/workflows/jdbc-driver.yaml
  .github/workflows/nodejs-driver.yaml
  .github/workflows/python-driver.yaml
Labels: PG11, override-stale

#2005 Fix Issue 1988: How to update a property which is a keyword
  regress/expected/expr.out
  regress/sql/expr.sql
  src/backend/parser/ag_scanner.l
  src/backend/parser/cypher_gram.y
  src/backend/parser/cypher_parser.c
  src/include/parser/ag_scanner.h
Labels: master, override-stale

#2017 Fix Issue 1988: How to update a property which is a keyword (#2005)
  regress/expected/expr.out
  regress/sql/expr.sql
  src/backend/parser/ag_scanner.l
  src/backend/parser/cypher_gram.y
  src/backend/parser/cypher_parser.c
  src/include/parser/ag_scanner.h
Labels: PG13, override-stale

#2016 Fix Issue 1988: How to update a property which is a keyword (#2005)
  regress/expected/expr.out
  regress/sql/expr.sql
  src/backend/parser/ag_scanner.l
  src/backend/parser/cypher_gram.y
  src/backend/parser/cypher_parser.c
  src/include/parser/ag_scanner.h
Labels: PG14, override-stale

#2015 Fix Issue 1988: How to update a property which is a keyword (#2005)
  regress/expected/expr.out
  regress/sql/expr.sql
  src/backend/parser/ag_scanner.l
  src/backend/parser/cypher_gram.y
  src/backend/parser/cypher_parser.c
  src/include/parser/ag_scanner.h
Labels: PG15, override-stale

#2014 Fix Issue 1988: How to update a property which is a keyword (#2005)
  regress/expected/expr.out
  regress/sql/expr.sql
  src/backend/parser/ag_scanner.l
  src/backend/parser/cypher_gram.y
  src/backend/parser/cypher_parser.c
  src/include/parser/ag_scanner.h
Labels: PG16, override-stale

#1997 Add EmitWarningsOnPlaceholders("age")
  regress/expected/name_validation.out
  regress/sql/name_validation.sql
  src/backend/utils/ag_guc.c
Labels: master

#2001 Add EmitWarningsOnPlaceholders("age") (#1997)
  regress/expected/name_validation.out
  regress/sql/name_validation.sql
  src/backend/utils/ag_guc.c
Labels: PG16

#2000 Add EmitWarningsOnPlaceholders("age") (#1997)
  regress/expected/name_validation.out
  regress/sql/name_validation.sql
  src/backend/utils/ag_guc.c
Labels: PG15, master

#2019 Fix Issue 1907: SET on MERGE not storing edge properties
  regress/expected/cypher_merge.out
  regress/sql/cypher_merge.sql
  src/backend/executor/cypher_merge.c
Labels: master, override-stale

#2021 Fix Issue 1907: SET on MERGE not storing edge properties (#2019)
  regress/expected/cypher_merge.out
  regress/sql/cypher_merge.sql
  src/backend/executor/cypher_merge.c
Labels: PG16, override-stale

#2022 Fix Issue 1907: SET on MERGE not storing edge properties (#2019)
  regress/expected/cypher_merge.out
  regress/sql/cypher_merge.sql
  src/backend/executor/cypher_merge.c
Labels: PG15, override-stale

#2023 Fix Issue 1907: SET on MERGE not storing edge properties (#2019)
  regress/expected/cypher_merge.out
  regress/sql/cypher_merge.sql
  src/backend/executor/cypher_merge.c
Labels: PG14, override-stale

#2024 Fix Issue 1907: SET on MERGE not storing edge properties (#2019)
  regress/expected/cypher_merge.out
  regress/sql/cypher_merge.sql
  src/backend/executor/cypher_merge.c
Labels: PG13, override-stale

#2025 Fix Issue 1907: SET on MERGE not storing edge properties (#2019)
  regress/expected/cypher_merge.out
  regress/sql/cypher_merge.sql
  src/backend/executor/cypher_merge.c
Labels: PG12, override-stale

#2026 Fix Issue 1907: SET on MERGE not storing edge properties (#2019)
  regress/expected/cypher_merge.out
  regress/sql/cypher_merge.sql
  src/backend/executor/cypher_merge.c
Labels: PG11, override-stale

#2028 Fix issue 2020: Memory leak
  src/backend/utils/adt/age_global_graph.c
  src/backend/utils/adt/age_graphid_ds.c
Labels: master, override-stale

#2029 Fix issue 2020: Memory leak (#2028)
  src/backend/utils/adt/age_global_graph.c
  src/backend/utils/adt/age_graphid_ds.c
Labels: PG16, override-stale

#2030 Fix issue 2020: Memory leak (#2028)
  src/backend/utils/adt/age_global_graph.c
  src/backend/utils/adt/age_graphid_ds.c
Labels: PG15, override-stale

#2031 Fix issue 2020: Memory leak (#2028)
  src/backend/utils/adt/age_global_graph.c
  src/backend/utils/adt/age_graphid_ds.c
Labels: PG14, override-stale

#2032 Fix issue 2020: Memory leak (#2028)
  src/backend/utils/adt/age_global_graph.c
  src/backend/utils/adt/age_graphid_ds.c
Labels: PG13, override-stale

#2033 Fix issue 1878 - Regression test failure with delete global graphs (#1881)
  src/backend/utils/adt/age_global_graph.c
Labels: PG12, override-stale

#2034 Fix issue 1878 - Regression test failure with delete global graphs (#1881)
  src/backend/utils/adt/age_global_graph.c
Labels: PG11, override-stale

#2036 Fix issue 2020: Memory leak (#2028)
  src/backend/utils/adt/age_global_graph.c
  src/backend/utils/adt/age_graphid_ds.c
Labels: PG11, override-stale

#2035 Fix issue 2020: Memory leak (#2028)
  src/backend/utils/adt/age_global_graph.c
  src/backend/utils/adt/age_graphid_ds.c
Labels: PG12, override-stale

#2039 Mironathome issue 2027 fix ( branch PG13 )
  src/include/catalog/ag_graph.h
Labels: PG13

#2044 Revamp age csv loader
  regress/expected/age_load.out
  regress/sql/age_load.sql
  src/backend/catalog/ag_label.c
  src/backend/commands/graph_commands.c
  src/backend/utils/load/ag_load_edges.c
  src/backend/utils/load/ag_load_labels.c
  src/backend/utils/load/age_load.c
  src/include/catalog/ag_label.h
  src/include/commands/graph_commands.h
  src/include/utils/graphid.h
  src/include/utils/load/ag_load_edges.h
  src/include/utils/load/ag_load_labels.h
  src/include/utils/load/age_load.h
Labels: master, override-stale

#2004 Refactor Dockerfile to use multi-stage builds
  docker/Dockerfile
Labels: master

#2048 Update age_load to load scalar property values with appropriate type
  regress/age_load/data/conversion_edges.csv
  regress/age_load/data/conversion_vertices.csv
  regress/expected/age_load.out
  regress/sql/age_load.sql
  src/backend/utils/adt/agtype.c
  src/backend/utils/load/ag_load_edges.c
  src/backend/utils/load/age_load.c
  src/include/utils/agtype.h
Labels: PG16, override-stale

#2060 Fix issue 2046: Memory leak during btree(agtype)
  src/backend/utils/adt/age_vle.c
  src/backend/utils/adt/agtype.c
  src/backend/utils/adt/agtype_util.c
  src/backend/utils/load/age_load.c
  src/include/utils/agtype.h
Labels: master, override-stale

#2057 Revamp age csv loader (#2044)
  regress/expected/age_load.out
  regress/sql/age_load.sql
  src/backend/catalog/ag_label.c
  src/backend/commands/graph_commands.c
  src/backend/utils/load/ag_load_edges.c
  src/backend/utils/load/ag_load_labels.c
  src/backend/utils/load/age_load.c
  src/include/catalog/ag_label.h
  src/include/commands/graph_commands.h
  src/include/utils/graphid.h
  src/include/utils/load/ag_load_edges.h
  src/include/utils/load/ag_load_labels.h
  src/include/utils/load/age_load.h
Labels: PG15, override-stale

#2058 Revamp age csv loader (#2044)
  regress/expected/age_load.out
  regress/sql/age_load.sql
  src/backend/catalog/ag_label.c
  src/backend/commands/graph_commands.c
  src/backend/utils/load/ag_load_edges.c
  src/backend/utils/load/ag_load_labels.c
  src/backend/utils/load/age_load.c
  src/include/catalog/ag_label.h
  src/include/commands/graph_commands.h
  src/include/utils/graphid.h
  src/include/utils/load/ag_load_edges.h
  src/include/utils/load/ag_load_labels.h
  src/include/utils/load/age_load.h
Labels: PG14, override-stale

#2061 Update age_load to make property value conversion optional (#1525)
  regress/expected/age_load.out
  regress/sql/age_load.sql
  sql/age_main.sql
  src/backend/utils/load/ag_load_edges.c
  src/backend/utils/load/ag_load_labels.c
  src/backend/utils/load/age_load.c
  src/include/utils/load/ag_load_edges.h
  src/include/utils/load/ag_load_labels.h
  src/include/utils/load/age_load.h
Labels: PG16, override-stale

#2055 Refactor Dockerfile to use multi-stage builds (#2004)
  docker/Dockerfile
Labels: PG16

#2054 Refactor Dockerfile to use multi-stage builds (#2004)
  docker/Dockerfile
Labels: PG15

#2053 Refactor Dockerfile to use multi-stage builds (#2004)
  docker/Dockerfile
Labels: PG14

#2052 Refactor Dockerfile to use multi-stage builds (#2004)
  docker/Dockerfile
Labels: PG13

#2051 Refactor Dockerfile to use multi-stage builds (#2004)
  docker/Dockerfile
Labels: PG12

#2050 Refactor Dockerfile to use multi-stage builds (#2004)
  docker/Dockerfile
Labels: PG11

#2068 Revamp age csv loader (#2044)
  regress/expected/age_load.out
  regress/sql/age_load.sql
  src/backend/catalog/ag_graph.c
  src/backend/catalog/ag_label.c
  src/backend/commands/graph_commands.c
  src/backend/utils/load/ag_load_edges.c
  src/backend/utils/load/ag_load_labels.c
  src/backend/utils/load/age_load.c
  src/include/catalog/ag_graph.h
  src/include/catalog/ag_label.h
  src/include/commands/graph_commands.h
  src/include/utils/graphid.h
  src/include/utils/load/ag_load_edges.h
  src/include/utils/load/ag_load_labels.h
  src/include/utils/load/age_load.h
Labels: PG11, override-stale

#2063 Revamp age csv loader (#2044)
  regress/expected/age_load.out
  regress/sql/age_load.sql
  src/backend/catalog/ag_label.c
  src/backend/commands/graph_commands.c
  src/backend/utils/load/ag_load_edges.c
  src/backend/utils/load/ag_load_labels.c
  src/backend/utils/load/age_load.c
  src/include/catalog/ag_label.h
  src/include/commands/graph_commands.h
  src/include/utils/graphid.h
  src/include/utils/load/ag_load_edges.h
  src/include/utils/load/ag_load_labels.h
  src/include/utils/load/age_load.h
Labels: PG16, override-stale

#2064 Revamp age csv loader (#2044)
  regress/expected/age_load.out
  regress/sql/age_load.sql
  src/backend/catalog/ag_label.c
  src/backend/commands/graph_commands.c
  src/backend/utils/load/ag_load_edges.c
  src/backend/utils/load/ag_load_labels.c
  src/backend/utils/load/age_load.c
  src/include/catalog/ag_label.h
  src/include/commands/graph_commands.h
  src/include/utils/graphid.h
  src/include/utils/load/ag_load_edges.h
  src/include/utils/load/ag_load_labels.h
  src/include/utils/load/age_load.h
Labels: PG13, override-stale

#2069 Fix issue 2046: Memory leak during btree(agtype) (#2060)
  src/backend/utils/adt/age_vle.c
  src/backend/utils/adt/agtype.c
  src/backend/utils/adt/agtype_util.c
  src/backend/utils/load/age_load.c
  src/include/utils/agtype.h
Labels: PG16, override-stale

#2070 Fix issue 2046: Memory leak during btree(agtype) (#2060)
  src/backend/utils/adt/age_vle.c
  src/backend/utils/adt/agtype.c
  src/backend/utils/adt/agtype_util.c
  src/backend/utils/load/age_load.c
  src/include/utils/agtype.h
Labels: PG15, override-stale

#2071 Fix issue 2046: Memory leak during btree(agtype) (#2060)
  src/backend/utils/adt/age_vle.c
  src/backend/utils/adt/agtype.c
  src/backend/utils/adt/agtype_util.c
  src/backend/utils/load/age_load.c
  src/include/utils/agtype.h
Labels: PG14, override-stale

#2072 Fix issue 2046: Memory leak during btree(agtype) (#2060)
  src/backend/utils/adt/age_vle.c
  src/backend/utils/adt/agtype.c
  src/backend/utils/adt/agtype_util.c
  src/backend/utils/load/age_load.c
  src/include/utils/agtype.h
Labels: PG13, override-stale

#2073 Fix issue 2046: Memory leak during btree(agtype) (#2060)
  src/backend/utils/adt/age_vle.c
  src/backend/utils/adt/agtype.c
  src/backend/utils/adt/agtype_util.c
  src/backend/utils/load/age_load.c
  src/include/utils/agtype.h
Labels: PG12, override-stale

#2074 Fix issue 2046: Memory leak during btree(agtype) (#2060)
  src/backend/utils/adt/age_vle.c
  src/backend/utils/adt/agtype.c
  src/backend/utils/adt/agtype_util.c
  src/backend/utils/load/age_load.c
  src/include/utils/agtype.h
Labels: PG11, override-stale

#2075 Issue 1996 - Add agtype to json typecast
  age--1.5.0--y.y.y.sql
  regress/expected/expr.out
  regress/sql/expr.sql
  sql/agtype_coercions.sql
  src/backend/utils/adt/agtype.c
  src/backend/utils/adt/agtype_util.c
  src/include/utils/agtype.h
Labels: master, override-stale

#2066 Fix memory leaks in functions part 1
  src/backend/utils/adt/age_vle.c
  src/backend/utils/adt/agtype.c
  src/backend/utils/adt/agtype_util.c
  src/include/utils/agtype.h
Labels: master, override-stale
