Repository apache/age, pull requests merged in 2024-03, with the labels that each got.

#1636 Fix Issue 1630: MERGE using array not working in some cases
  regress/expected/cypher_merge.out
  regress/sql/cypher_merge.sql
  src/backend/parser/cypher_clause.c
Labels: master

#1637 Fix Issue 1634: Setting all properties with map object causes error
  regress/expected/cypher_set.out
  regress/sql/cypher_set.sql
  src/backend/utils/adt/agtype.c
Labels: master

#1645 Fix Issue 1630: MERGE using array not working in some cases (#1636)
  regress/expected/cypher_merge.out
  regress/sql/cypher_merge.sql
  src/backend/parser/cypher_clause.c
Labels: PG11

#1644 Fix Issue 1630: MERGE using array not working in some cases (#1636)
  regress/expected/cypher_merge.out
  regress/sql/cypher_merge.sql
  src/backend/parser/cypher_clause.c
Labels: PG12

#1643 Fix Issue 1630: MERGE using array not working in some cases (#1636)
  regress/expected/cypher_merge.out
  regress/sql/cypher_merge.sql
  src/backend/parser/cypher_clause.c
Labels: PG13

#1642 Fix Issue 1630: MERGE using array not working in some cases (#1636)
  regress/expected/cypher_merge.out
  regress/sql/cypher_merge.sql
  src/backend/parser/cypher_clause.c
Labels: PG14

#1641 Fix Issue 1630: MERGE using array not working in some cases (#1636)
  regress/expected/cypher_merge.out
  regress/sql/cypher_merge.sql
  src/backend/parser/cypher_clause.c
Labels: PG15

#1640 Fix Issue 1630: MERGE using array not working in some cases (#1636)
  regress/expected/cypher_merge.out
  regress/sql/cypher_merge.sql
  src/backend/parser/cypher_clause.c
Labels: PG16

#1651 Fix Issue 1634: Setting all properties with map object causes error (#1637)
  regress/expected/cypher_set.out
  regress/sql/cypher_set.sql
  src/backend/utils/adt/agtype.c
Labels: PG11

#1650 Fix Issue 1634: Setting all properties with map object causes error (#1637)
  regress/expected/cypher_set.out
  regress/sql/cypher_set.sql
  src/backend/utils/adt/agtype.c
Labels: PG12

#1649 Fix Issue 1634: Setting all properties with map object causes error (#1637)
  regress/expected/cypher_set.out
  regress/sql/cypher_set.sql
  src/backend/utils/adt/agtype.c
Labels: PG13

#1648 Fix Issue 1634: Setting all properties with map object causes error (#1637)
  regress/expected/cypher_set.out
  regress/sql/cypher_set.sql
  src/backend/utils/adt/agtype.c
Labels: PG14

#1647 Fix Issue 1634: Setting all properties with map object causes error (#1637)
  regress/expected/cypher_set.out
  regress/sql/cypher_set.sql
  src/backend/utils/adt/agtype.c
Labels: PG15

#1646 Fix Issue 1634: Setting all properties with map object causes error (#1637)
  regress/expected/cypher_set.out
  regress/sql/cypher_set.sql
  src/backend/utils/adt/agtype.c
Labels: PG16

#1562 Implement EXISTS Subquery
  Makefile
  regress/expected/cypher_subquery.out
  regress/sql/cypher_subquery.sql
  src/backend/nodes/ag_nodes.c
  src/backend/nodes/cypher_outfuncs.c
  src/backend/parser/cypher_analyze.c
  src/backend/parser/cypher_clause.c
  src/backend/parser/cypher_gram.y
  src/backend/parser/cypher_parse_node.c
  src/include/nodes/ag_nodes.h
  src/include/nodes/cypher_nodes.h
  src/include/nodes/cypher_outfuncs.h
  src/include/parser/cypher_parse_node.h
Labels: master

#1656 Implement EXISTS Subquery
  Makefile
  regress/expected/cypher_subquery.out
  regress/sql/cypher_subquery.sql
  src/backend/nodes/ag_nodes.c
  src/backend/nodes/cypher_outfuncs.c
  src/backend/parser/cypher_analyze.c
  src/backend/parser/cypher_clause.c
  src/backend/parser/cypher_gram.y
  src/backend/parser/cypher_parse_node.c
  src/include/nodes/ag_nodes.h
  src/include/nodes/cypher_nodes.h
  src/include/nodes/cypher_outfuncs.h
  src/include/parser/cypher_parse_node.h
Labels: PG13

#1657 Implement EXISTS Subquery
  Makefile
  regress/expected/cypher_subquery.out
  regress/sql/cypher_subquery.sql
  src/backend/nodes/ag_nodes.c
  src/backend/nodes/cypher_outfuncs.c
  src/backend/parser/cypher_analyze.c
  src/backend/parser/cypher_clause.c
  src/backend/parser/cypher_gram.y
  src/backend/parser/cypher_parse_node.c
  src/include/nodes/ag_nodes.h
  src/include/nodes/cypher_nodes.h
  src/include/nodes/cypher_outfuncs.h
  src/include/parser/cypher_parse_node.h
Labels: PG14

#1658 Implement EXISTS Subquery
  Makefile
  regress/expected/cypher_subquery.out
  regress/sql/cypher_subquery.sql
  src/backend/nodes/ag_nodes.c
  src/backend/nodes/cypher_outfuncs.c
  src/backend/parser/cypher_analyze.c
  src/backend/parser/cypher_clause.c
  src/backend/parser/cypher_gram.y
  src/backend/parser/cypher_parse_node.c
  src/include/nodes/ag_nodes.h
  src/include/nodes/cypher_nodes.h
  src/include/nodes/cypher_outfuncs.h
  src/include/parser/cypher_parse_node.h
Labels: PG15

#1655 Implement EXISTS Subquery
  Makefile
  regress/expected/cypher_subquery.out
  regress/sql/cypher_subquery.sql
  src/backend/nodes/ag_nodes.c
  src/backend/nodes/cypher_outfuncs.c
  src/backend/parser/cypher_analyze.c
  src/backend/parser/cypher_clause.c
  src/backend/parser/cypher_gram.y
  src/backend/parser/cypher_parse_node.c
  src/include/nodes/ag_nodes.h
  src/include/nodes/cypher_nodes.h
  src/include/nodes/cypher_outfuncs.h
  src/include/parser/cypher_parse_node.h
Labels: PG12

#1654 Implement EXISTS Subquery
  Makefile
  regress/expected/cypher_subquery.out
  regress/sql/cypher_subquery.sql
  src/backend/nodes/ag_nodes.c
  src/backend/nodes/cypher_outfuncs.c
  src/backend/parser/cypher_analyze.c
  src/backend/parser/cypher_clause.c
  src/backend/parser/cypher_gram.y
  src/backend/parser/cypher_parse_node.c
  src/include/nodes/ag_nodes.h
  src/include/nodes/cypher_nodes.h
  src/include/nodes/cypher_outfuncs.h
  src/include/parser/cypher_parse_node.h
Labels: PG11

#1666 Allow agtype_build_map to use AGTYPE keys
  age--1.5.0--y.y.y.sql
  regress/expected/agtype.out
  regress/sql/agtype.sql
  sql/age_scalar.sql
  src/backend/utils/adt/agtype.c
Labels: master

#1661 Implement EXISTS Subquery
  Makefile
  regress/expected/cypher_subquery.out
  regress/sql/cypher_subquery.sql
  src/backend/nodes/ag_nodes.c
  src/backend/nodes/cypher_outfuncs.c
  src/backend/parser/cypher_analyze.c
  src/backend/parser/cypher_clause.c
  src/backend/parser/cypher_gram.y
  src/backend/parser/cypher_parse_node.c
  src/include/nodes/ag_nodes.h
  src/include/nodes/cypher_nodes.h
  src/include/nodes/cypher_outfuncs.h
  src/include/parser/cypher_parse_node.h
Labels: PG16

#1673 Allow agtype_build_map to use AGTYPE keys (#1666)
  age--1.5.0--y.y.y.sql
  regress/expected/agtype.out
  regress/sql/agtype.sql
  sql/age_scalar.sql
  src/backend/utils/adt/agtype.c
Labels: PG11

#1672 Allow agtype_build_map to use AGTYPE keys (#1666)
  age--1.5.0--y.y.y.sql
  regress/expected/agtype.out
  regress/sql/agtype.sql
  sql/age_scalar.sql
  src/backend/utils/adt/agtype.c
Labels: PG12

#1670 Allow agtype_build_map to use AGTYPE keys (#1666)
  age--1.5.0--y.y.y.sql
  regress/expected/agtype.out
  regress/sql/agtype.sql
  sql/age_scalar.sql
  src/backend/utils/adt/agtype.c
Labels: PG14

#1669 Allow agtype_build_map to use AGTYPE keys (#1666)
  age--1.5.0--y.y.y.sql
  regress/expected/agtype.out
  regress/sql/agtype.sql
  sql/age_scalar.sql
  src/backend/utils/adt/agtype.c
Labels: PG15

#1668 Allow agtype_build_map to use AGTYPE keys (#1666)
  age--1.5.0--y.y.y.sql
  regress/expected/agtype.out
  regress/sql/agtype.sql
  sql/age_scalar.sql
  src/backend/utils/adt/agtype.c
Labels: PG16

#1683 Add hooks for multi-arch builds on dockerhub
  docker/hooks/build
  docker/hooks/push
Labels: master

#1684 Add hooks for multi-arch builds on dockerhub
  docker/hooks/build
  docker/hooks/push
Labels: PG11

#1685 Add hooks for multi-arch builds on dockerhub
  docker/hooks/build
  docker/hooks/push
Labels: PG12

#1686 Add hooks for multi-arch builds on dockerhub
  docker/hooks/build
  docker/hooks/push
Labels: PG13

#1687 Add hooks for multi-arch builds on dockerhub
  docker/hooks/build
  docker/hooks/push
Labels: PG14

#1688 Add hooks for multi-arch builds on dockerhub
  docker/hooks/build
  docker/hooks/push
Labels: PG15

#1689 Add hooks for multi-arch builds on dockerhub
  docker/hooks/build
  docker/hooks/push
Labels: PG16

#1710 Implement map projection
  Makefile
  regress/expected/map_projection.out
  regress/sql/map_projection.sql
  src/backend/nodes/ag_nodes.c
  src/backend/nodes/cypher_outfuncs.c
  src/backend/parser/cypher_expr.c
  src/backend/parser/cypher_gram.y
  src/include/nodes/ag_nodes.h
  src/include/nodes/cypher_nodes.h
  src/include/nodes/cypher_outfuncs.h
Labels: master

#1713 Update README.md
  README.md
Labels: master
