Repository apache/age, pull requests merged in 2024-04, with the labels that each got.

#1718 Fix Issue 1691 - MERGE incorrectly creates multiple vertices
  regress/expected/cypher_merge.out
  regress/sql/cypher_merge.sql
  src/backend/executor/cypher_merge.c
  src/include/executor/cypher_utils.h
Labels: master

#1719 Fix shift/reduce conflict in grammar
  regress/expected/list_comprehension.out
  regress/sql/list_comprehension.sql
  src/backend/parser/cypher_gram.y
Labels: master

#1721 Fix Issue 1709 - MERGE creates incomplete vertices after the first one
  regress/expected/cypher_merge.out
  regress/sql/cypher_merge.sql
  src/backend/executor/cypher_utils.c
Labels: master

#1729 Fix Issue 1691 - MERGE incorrectly creates multiple vertices (#1718)
  regress/expected/cypher_merge.out
  regress/sql/cypher_merge.sql
  src/backend/executor/cypher_merge.c
  src/backend/executor/cypher_utils.c
  src/include/executor/cypher_utils.h
Labels: PG11

#1727 Fix Issue 1691 - MERGE incorrectly creates multiple vertices (#1718)
  regress/expected/cypher_merge.out
  regress/sql/cypher_merge.sql
  src/backend/executor/cypher_merge.c
  src/backend/executor/cypher_utils.c
  src/include/executor/cypher_utils.h
Labels: PG12

#1726 Fix Issue 1691 - MERGE incorrectly creates multiple vertices (#1718)
  regress/expected/cypher_merge.out
  regress/sql/cypher_merge.sql
  src/backend/executor/cypher_merge.c
  src/backend/executor/cypher_utils.c
  src/include/executor/cypher_utils.h
Labels: PG13

#1725 Fix Issue 1691 - MERGE incorrectly creates multiple vertices (#1718)
  regress/expected/cypher_merge.out
  regress/sql/cypher_merge.sql
  src/backend/executor/cypher_merge.c
  src/include/executor/cypher_utils.h
Labels: PG14

#1724 Fix Issue 1691 - MERGE incorrectly creates multiple vertices (#1718)
  regress/expected/cypher_merge.out
  regress/sql/cypher_merge.sql
  src/backend/executor/cypher_merge.c
  src/include/executor/cypher_utils.h
Labels: PG15

#1723 Fix Issue 1691 - MERGE incorrectly creates multiple vertices (#1718)
  regress/expected/cypher_merge.out
  regress/sql/cypher_merge.sql
  src/backend/executor/cypher_merge.c
  src/include/executor/cypher_utils.h
Labels: PG16

#1734 Fix Issue 1709 - MERGE creates incomplete vertices after the first one (#1721)
  regress/expected/cypher_merge.out
  regress/sql/cypher_merge.sql
  src/backend/executor/cypher_utils.c
Labels: PG12

#1733 Fix Issue 1709 - MERGE creates incomplete vertices after the first one (#1721)
  regress/expected/cypher_merge.out
  regress/sql/cypher_merge.sql
  src/backend/executor/cypher_utils.c
Labels: PG13

#1731 Fix Issue 1709 - MERGE creates incomplete vertices after the first one (#1721)
  regress/expected/cypher_merge.out
  regress/sql/cypher_merge.sql
  src/backend/executor/cypher_utils.c
Labels: PG15

#1730 Fix Issue 1709 - MERGE creates incomplete vertices after the first one (#1721)
  regress/expected/cypher_merge.out
  regress/sql/cypher_merge.sql
  src/backend/executor/cypher_utils.c
Labels: PG16

#1720 Update README.md
  README.md
Labels: master

#1736 Implement list comprehension
  Makefile
  regress/expected/list_comprehension.out
  regress/sql/list_comprehension.sql
  sql/agtype_typecast.sql
  src/backend/nodes/cypher_outfuncs.c
  src/backend/parser/cypher_clause.c
  src/backend/parser/cypher_expr.c
  src/backend/parser/cypher_gram.y
  src/backend/parser/cypher_item.c
  src/backend/utils/adt/agtype.c
  src/include/nodes/ag_nodes.h
  src/include/nodes/cypher_nodes.h
  src/include/parser/cypher_clause.h
  src/include/parser/cypher_item.h
  src/include/parser/cypher_parse_node.h
Labels: PG16

#1737 Implement list comprehension
  Makefile
  regress/expected/list_comprehension.out
  regress/sql/list_comprehension.sql
  sql/agtype_typecast.sql
  src/backend/nodes/cypher_outfuncs.c
  src/backend/parser/cypher_clause.c
  src/backend/parser/cypher_expr.c
  src/backend/parser/cypher_gram.y
  src/backend/parser/cypher_item.c
  src/backend/utils/adt/agtype.c
  src/include/nodes/ag_nodes.h
  src/include/nodes/cypher_nodes.h
  src/include/parser/cypher_clause.h
  src/include/parser/cypher_item.h
  src/include/parser/cypher_parse_node.h
Labels: PG15

#1738 Implement list comprehension
  Makefile
  regress/expected/list_comprehension.out
  regress/sql/list_comprehension.sql
  sql/agtype_typecast.sql
  src/backend/nodes/cypher_outfuncs.c
  src/backend/parser/cypher_clause.c
  src/backend/parser/cypher_expr.c
  src/backend/parser/cypher_gram.y
  src/backend/parser/cypher_item.c
  src/backend/utils/adt/agtype.c
  src/include/nodes/ag_nodes.h
  src/include/nodes/cypher_nodes.h
  src/include/parser/cypher_clause.h
  src/include/parser/cypher_item.h
  src/include/parser/cypher_parse_node.h
Labels: PG14

#1740 Remove duplicate check for label validity
  src/backend/commands/label_commands.c
Labels: master

#1716 NetworkX support in python driver - (Fixing merge conflicts)
  .github/workflows/python-driver.yaml
  drivers/python/README.md
  drivers/python/age/networkx/__init__.py
  drivers/python/age/networkx/age_to_networkx.py
  drivers/python/age/networkx/lib.py
  drivers/python/age/networkx/networkx_to_age.py
  drivers/python/requirements.txt
  drivers/python/samples/networkx.ipynb
  drivers/python/setup.py
  drivers/python/test_networkx.py
Labels: master

#1728 Update README.md
  README.md
Labels: master

#1678 Fix bogus failure of test expr
  regress/expected/expr.out
  regress/sql/expr.sql
Labels: PG15

#1742 Add helpful messages to the VLE subsystem
  src/backend/utils/adt/age_global_graph.c
Labels: master

#1744 Add helpful messages to the VLE subsystem (#1742)
  src/backend/utils/adt/age_global_graph.c
Labels: PG15

#1756 Update README.md
  drivers/python/README.md
Labels: master

#1199 Added integer conversion in toBoolean functions
  regress/expected/expr.out
  regress/sql/expr.sql
  src/backend/utils/adt/agtype.c
Labels: master

#1757 Fix connection string in Python Driver
  drivers/python/test_age_py.py
Labels: master

#1752 Add the command graph_stats and improve VLE messaging for load (#1750)
  age--1.5.0--y.y.y.sql
  regress/expected/age_global_graph.out
  regress/sql/age_global_graph.sql
  sql/agtype_typecast.sql
  src/backend/utils/adt/age_global_graph.c
Labels: PG16

#1753 Add the command graph_stats and improve VLE messaging for load (#1750)
  age--1.5.0--y.y.y.sql
  regress/expected/age_global_graph.out
  regress/sql/age_global_graph.sql
  sql/agtype_typecast.sql
  src/backend/utils/adt/age_global_graph.c
Labels: PG15

#1754 Add the command graph_stats and improve VLE messaging for load (#1750)
  age--1.5.0--y.y.y.sql
  regress/expected/age_global_graph.out
  regress/sql/age_global_graph.sql
  sql/agtype_typecast.sql
  src/backend/utils/adt/age_global_graph.c
Labels: PG14

#1755 Add the command graph_stats and improve VLE messaging for load (#1750)
  age--1.5.0--y.y.y.sql
  regress/expected/age_global_graph.out
  regress/sql/age_global_graph.sql
  sql/agtype_typecast.sql
  src/backend/utils/adt/age_global_graph.c
Labels: PG13

#1761 Fix connection string in Python Driver (#1757)
  drivers/python/test_age_py.py
Labels: PG13

#1763 Fix connection string in Python Driver (#1757)
  drivers/python/test_age_py.py
Labels: PG11

#1758 Fix connection string in Python Driver (#1757)
  drivers/python/test_age_py.py
Labels: PG16

#1765 Fix warning messages for PG11 DockerHub build
  src/backend/utils/adt/agtype.c
Labels: PG11

#1772 Fix slow running regression test expr
  regress/expected/expr.out
  regress/sql/expr.sql
Labels: PG15

#1771 [PG16] Added integer conversion in toBoolean functions
  regress/expected/expr.out
  regress/sql/expr.sql
  src/backend/utils/adt/agtype.c
Labels: PG16

#1770 [PG15] Added integer conversion in toBoolean functions
  regress/expected/expr.out
  regress/sql/expr.sql
  src/backend/utils/adt/agtype.c
Labels: PG15

#1768 [PG13] Added integer conversion in toBoolean functions
  regress/expected/expr.out
  regress/sql/expr.sql
  src/backend/utils/adt/agtype.c
Labels: PG13

#1751 Implement Constraints on Subqueries
  regress/expected/cypher_subquery.out
  regress/sql/cypher_subquery.sql
  src/backend/nodes/cypher_outfuncs.c
  src/backend/parser/cypher_analyze.c
  src/backend/parser/cypher_clause.c
  src/backend/parser/cypher_gram.y
  src/include/nodes/cypher_nodes.h
  src/include/parser/cypher_analyze.h
  src/include/parser/cypher_kwlist.h
Labels: master

#1794 Implement map projection (#1710)
  Makefile
  regress/expected/map_projection.out
  regress/sql/map_projection.sql
  src/backend/nodes/ag_nodes.c
  src/backend/nodes/cypher_outfuncs.c
  src/backend/parser/cypher_expr.c
  src/backend/parser/cypher_gram.y
  src/include/nodes/ag_nodes.h
  src/include/nodes/cypher_nodes.h
  src/include/nodes/cypher_outfuncs.h
Labels: PG12

#1795 Implement map projection (#1710)
  Makefile
  regress/expected/map_projection.out
  regress/sql/map_projection.sql
  src/backend/nodes/ag_nodes.c
  src/backend/nodes/cypher_outfuncs.c
  src/backend/parser/cypher_expr.c
  src/backend/parser/cypher_gram.y
  src/include/nodes/ag_nodes.h
  src/include/nodes/cypher_nodes.h
  src/include/nodes/cypher_outfuncs.h
Labels: PG13

#1796 Implement map projection (#1710)
  Makefile
  regress/expected/map_projection.out
  regress/sql/map_projection.sql
  src/backend/nodes/ag_nodes.c
  src/backend/nodes/cypher_outfuncs.c
  src/backend/parser/cypher_expr.c
  src/backend/parser/cypher_gram.y
  src/include/nodes/ag_nodes.h
  src/include/nodes/cypher_nodes.h
  src/include/nodes/cypher_outfuncs.h
Labels: PG14

#1797 Implement map projection (#1710)
  Makefile
  regress/expected/map_projection.out
  regress/sql/map_projection.sql
  src/backend/nodes/ag_nodes.c
  src/backend/nodes/cypher_outfuncs.c
  src/backend/parser/cypher_expr.c
  src/backend/parser/cypher_gram.y
  src/include/nodes/ag_nodes.h
  src/include/nodes/cypher_nodes.h
  src/include/nodes/cypher_outfuncs.h
Labels: PG15

#1798 Implement map projection (#1710)
  Makefile
  regress/expected/map_projection.out
  regress/sql/map_projection.sql
  src/backend/nodes/ag_nodes.c
  src/backend/nodes/cypher_outfuncs.c
  src/backend/parser/cypher_expr.c
  src/backend/parser/cypher_gram.y
  src/include/nodes/ag_nodes.h
  src/include/nodes/cypher_nodes.h
  src/include/nodes/cypher_outfuncs.h
Labels: PG16

#1792 Implement Constraints on Subqueries
  regress/expected/cypher_subquery.out
  regress/sql/cypher_subquery.sql
  src/backend/nodes/cypher_outfuncs.c
  src/backend/parser/cypher_analyze.c
  src/backend/parser/cypher_clause.c
  src/backend/parser/cypher_gram.y
  src/include/nodes/cypher_nodes.h
  src/include/parser/cypher_analyze.h
  src/include/parser/cypher_kwlist.h
Labels: PG13

#1791 Implement Constraints on Subqueries
  regress/expected/cypher_subquery.out
  regress/sql/cypher_subquery.sql
  src/backend/nodes/cypher_outfuncs.c
  src/backend/parser/cypher_analyze.c
  src/backend/parser/cypher_clause.c
  src/backend/parser/cypher_gram.y
  src/include/nodes/cypher_nodes.h
  src/include/parser/cypher_analyze.h
  src/include/parser/cypher_kwlist.h
Labels: PG14

#1799 Fix issue 1767: CREATE TABLE AS SELECT * FROM cypher, errors
  regress/expected/cypher.out
  regress/sql/cypher.sql
  src/backend/parser/cypher_analyze.c
Labels: master

#1804 Fix issue 1767: CREATE TABLE AS SELECT * FROM cypher, errors (#1799)
  regress/expected/cypher.out
  regress/sql/cypher.sql
  src/backend/parser/cypher_analyze.c
Labels: PG16

#1805 Fix issue 1767: CREATE TABLE AS SELECT * FROM cypher, errors (#1799)
  regress/expected/cypher.out
  regress/sql/cypher.sql
  src/backend/parser/cypher_analyze.c
Labels: PG15

#1806 Fix issue 1767: CREATE TABLE AS SELECT * FROM cypher, errors (#1799)
  regress/expected/cypher.out
  regress/sql/cypher.sql
  src/backend/parser/cypher_analyze.c
Labels: PG14

#1807 Fix issue 1767: CREATE TABLE AS SELECT * FROM cypher, errors (#1799)
  regress/expected/cypher.out
  regress/sql/cypher.sql
  src/backend/parser/cypher_analyze.c
Labels: PG13

#1789 Implement Constraints on Subqueries
  regress/expected/cypher_subquery.out
  regress/sql/cypher_subquery.sql
  src/backend/nodes/cypher_outfuncs.c
  src/backend/parser/cypher_analyze.c
  src/backend/parser/cypher_clause.c
  src/backend/parser/cypher_gram.y
  src/include/nodes/cypher_nodes.h
  src/include/parser/cypher_analyze.h
  src/include/parser/cypher_kwlist.h
Labels: PG16

#1790 Implement Constraints on Subqueries
  regress/expected/cypher_subquery.out
  regress/sql/cypher_subquery.sql
  src/backend/nodes/cypher_outfuncs.c
  src/backend/parser/cypher_analyze.c
  src/backend/parser/cypher_clause.c
  src/backend/parser/cypher_gram.y
  src/include/nodes/cypher_nodes.h
  src/include/parser/cypher_analyze.h
  src/include/parser/cypher_kwlist.h
Labels: PG15

#1808 Minor VLE and agtype_eq/ne performance updates
  src/backend/utils/adt/age_vle.c
  src/backend/utils/adt/agtype_ops.c
  src/include/catalog/ag_label.h
Labels: master

#1793 python driver psycopg3
  .gitignore
  drivers/python/age/__init__.py
  drivers/python/age/age.py
  drivers/python/age/builder.py
  drivers/python/age/exceptions.py
  drivers/python/age/networkx/age_to_networkx.py
  drivers/python/age/networkx/lib.py
  drivers/python/age/networkx/networkx_to_age.py
  drivers/python/requirements.txt
  drivers/python/samples/apache-age-agtypes.ipynb
  drivers/python/samples/apache-age-basic.ipynb
  drivers/python/samples/apache-age-note.ipynb
  drivers/python/samples/networkx.ipynb
  drivers/python/setup.py
  drivers/python/test_age_py.py
  drivers/python/test_networkx.py
Labels: master
