Repository apache/age, pull requests merged in 2024-05, with the labels that each got.

#1816 Minor VLE and agtype_eq/ne performance updates (#1808)
  src/backend/utils/adt/age_vle.c
  src/backend/utils/adt/agtype_ops.c
  src/include/catalog/ag_label.h
Labels: PG16

#1817 Minor VLE and agtype_eq/ne performance updates (#1808)
  src/backend/utils/adt/age_vle.c
  src/backend/utils/adt/agtype_ops.c
  src/include/catalog/ag_label.h
Labels: PG15

#1818 Minor VLE and agtype_eq/ne performance updates (#1808)
  src/backend/utils/adt/age_vle.c
  src/backend/utils/adt/agtype_ops.c
  src/include/catalog/ag_label.h
Labels: PG14

#1819 Minor VLE and agtype_eq/ne performance updates (#1808)
  src/backend/utils/adt/age_vle.c
  src/backend/utils/adt/agtype_ops.c
  src/include/catalog/ag_label.h
Labels: PG13

#1822 Added Networkx Support in python driver (#1716)
  .github/workflows/python-driver.yaml
  drivers/python/README.md
  drivers/python/age/networkx/__init__.py
  drivers/python/age/networkx/age_to_networkx.py
  drivers/python/age/networkx/lib.py
  drivers/python/age/networkx/networkx_to_age.py
  drivers/python/requirements.txt
  drivers/python/samples/networkx.ipynb
  drivers/python/setup.py
  drivers/python/test_networkx.py
Labels: PG16

#1823 python driver psycopg3 (#1793)
  .gitignore
  drivers/python/age/__init__.py
  drivers/python/age/age.py
  drivers/python/age/builder.py
  drivers/python/age/exceptions.py
  drivers/python/age/networkx/age_to_networkx.py
  drivers/python/age/networkx/lib.py
  drivers/python/age/networkx/networkx_to_age.py
  drivers/python/requirements.txt
  drivers/python/samples/apache-age-agtypes.ipynb
  drivers/python/samples/apache-age-basic.ipynb
  drivers/python/samples/apache-age-note.ipynb
  drivers/python/samples/networkx.ipynb
  drivers/python/setup.py
  drivers/python/test_age_py.py
  drivers/python/test_networkx.py
Labels: PG16

#1831 Remove duplicate check (#1740)
  src/backend/commands/label_commands.c
Labels: PG16

#1832 Remove duplicate check (#1740)
  src/backend/commands/label_commands.c
Labels: PG15

#1833 Remove duplicate check (#1740)
  src/backend/commands/label_commands.c
Labels: PG14

#1834 Remove duplicate check (#1740)
  src/backend/commands/label_commands.c
Labels: PG13

#1830 python driver psycopg3 (#1793)
  .gitignore
  drivers/python/age/__init__.py
  drivers/python/age/age.py
  drivers/python/age/builder.py
  drivers/python/age/exceptions.py
  drivers/python/age/networkx/age_to_networkx.py
  drivers/python/age/networkx/lib.py
  drivers/python/age/networkx/networkx_to_age.py
  drivers/python/requirements.txt
  drivers/python/samples/apache-age-agtypes.ipynb
  drivers/python/samples/apache-age-basic.ipynb
  drivers/python/samples/apache-age-note.ipynb
  drivers/python/samples/networkx.ipynb
  drivers/python/setup.py
  drivers/python/test_age_py.py
  drivers/python/test_networkx.py
Labels: PG13

#1829 python driver psycopg3 (#1793)
  .gitignore
  drivers/python/age/__init__.py
  drivers/python/age/age.py
  drivers/python/age/builder.py
  drivers/python/age/exceptions.py
  drivers/python/age/networkx/age_to_networkx.py
  drivers/python/age/networkx/lib.py
  drivers/python/age/networkx/networkx_to_age.py
  drivers/python/requirements.txt
  drivers/python/samples/apache-age-agtypes.ipynb
  drivers/python/samples/apache-age-basic.ipynb
  drivers/python/samples/apache-age-note.ipynb
  drivers/python/samples/networkx.ipynb
  drivers/python/setup.py
  drivers/python/test_age_py.py
  drivers/python/test_networkx.py
Labels: PG14

#1827 python driver psycopg3 (#1793)
  .gitignore
  drivers/python/age/__init__.py
  drivers/python/age/age.py
  drivers/python/age/builder.py
  drivers/python/age/exceptions.py
  drivers/python/age/networkx/age_to_networkx.py
  drivers/python/age/networkx/lib.py
  drivers/python/age/networkx/networkx_to_age.py
  drivers/python/requirements.txt
  drivers/python/samples/apache-age-agtypes.ipynb
  drivers/python/samples/apache-age-basic.ipynb
  drivers/python/samples/apache-age-note.ipynb
  drivers/python/samples/networkx.ipynb
  drivers/python/setup.py
  drivers/python/test_age_py.py
  drivers/python/test_networkx.py
Labels: PG15

#1838 Fix error using list comprehension with WITH *
  regress/expected/list_comprehension.out
  regress/sql/list_comprehension.sql
  src/backend/parser/cypher_clause.c
Labels: master

#1851 [CI] Update labeler github action
  .github/workflows/labeler.yml
Labels: master

#1854 Add branch protection rules in .asf.yaml
  .asf.yaml
Labels: master, override-stale

#1858 Fix error using list comprehension with WITH *
  regress/expected/list_comprehension.out
  regress/sql/list_comprehension.sql
  src/backend/parser/cypher_clause.c
Labels: PG16

#1857 Fix error using list comprehension with WITH *
  regress/expected/list_comprehension.out
  regress/sql/list_comprehension.sql
  src/backend/parser/cypher_clause.c
Labels: PG15

#1856 Fix error using list comprehension with WITH *
  regress/expected/list_comprehension.out
  regress/sql/list_comprehension.sql
  src/backend/parser/cypher_clause.c
Labels: PG14

#1855 Fix error using list comprehension with WITH *
  regress/expected/list_comprehension.out
  regress/sql/list_comprehension.sql
  src/backend/parser/cypher_clause.c
Labels: PG13

#1865 [CI] Update docker image tags
  .github/workflows/go-driver.yml
  .github/workflows/jdbc-driver.yaml
  .github/workflows/nodejs-driver.yaml
  .github/workflows/python-driver.yaml
  drivers/docker-compose.yml
  drivers/jdbc/lib/src/test/java/org/apache/age/jdbc/BaseDockerizedTest.java
Labels: master, override-stale

#1868 [CI] Update docker image tags
  drivers/docker-compose.yml
  drivers/jdbc/lib/src/test/java/org/apache/age/jdbc/BaseDockerizedTest.java
Labels: PG13

#1869 [CI] Update docker image tags
  .github/workflows/go-driver.yml
  .github/workflows/jdbc-driver.yaml
  .github/workflows/nodejs-driver.yaml
  .github/workflows/python-driver.yaml
  drivers/docker-compose.yml
  drivers/jdbc/lib/src/test/java/org/apache/age/jdbc/BaseDockerizedTest.java
Labels: PG14

#1867 [CI] Update docker image tags
  drivers/docker-compose.yml
  drivers/jdbc/lib/src/test/java/org/apache/age/jdbc/BaseDockerizedTest.java
Labels: PG12

#1870 [CI] Update docker image tags
  .github/workflows/go-driver.yml
  .github/workflows/jdbc-driver.yaml
  .github/workflows/nodejs-driver.yaml
  .github/workflows/python-driver.yaml
  drivers/docker-compose.yml
  drivers/jdbc/lib/src/test/java/org/apache/age/jdbc/BaseDockerizedTest.java
Labels: PG15

#1871 [CI] Update docker image tags
  .github/workflows/go-driver.yml
  .github/workflows/jdbc-driver.yaml
  .github/workflows/nodejs-driver.yaml
  .github/workflows/python-driver.yaml
  drivers/docker-compose.yml
  drivers/jdbc/lib/src/test/java/org/apache/age/jdbc/BaseDockerizedTest.java
Labels: PG16

#1803 Implement Returnless Unions in Subqueries
  regress/expected/cypher_subquery.out
  regress/sql/cypher_subquery.sql
  src/backend/nodes/cypher_outfuncs.c
  src/backend/parser/cypher_clause.c
  src/backend/parser/cypher_gram.y
  src/include/nodes/cypher_nodes.h
Labels: master, override-stale

#1872 Add workflow for stale issues and PRs
  .github/workflows/stale.yaml
Labels: master, override-stale

#879 Corrected typos and grammatical errors in apache-age-basic.ipynb
  drivers/python/samples/apache-age-basic.ipynb
Labels: Abondoned

#1881 Fix issue 1878 - Regression test failure with delete global graphs
  src/backend/utils/adt/age_global_graph.c
Labels: master, override-stale

#1852 Make CALL YIELD grammar more precise
  src/backend/parser/cypher_gram.y
Labels: master, override-stale

#1889 Fix issue 1878 - Regression test failure with delete global graphs (#1881)
  src/backend/utils/adt/age_global_graph.c
Labels: PG13

#1886 Fix issue 1878 - Regression test failure with delete global graphs (#1881)
  src/backend/utils/adt/age_global_graph.c
Labels: PG16

#1887 Fix issue 1878 - Regression test failure with delete global graphs (#1881)
  src/backend/utils/adt/age_global_graph.c
Labels: PG15

#1888 Fix issue 1878 - Regression test failure with delete global graphs (#1881)
  src/backend/utils/adt/age_global_graph.c
Labels: PG14

#1891 Update github stale action
  .github/workflows/stale.yaml
Labels: master, override-stale

#1892 Order some regression tests for stability on big-endian
  regress/expected/cypher_match.out
  regress/sql/cypher_match.sql
Labels: master

#1895 Big endian support for PG 15
  Makefile
  regress/expected/agtype.out
  regress/expected/agtype_hash_cmp.out
  regress/expected/agtype_hash_cmp_1.out
  regress/expected/cypher_match.out
  regress/sql/agtype.sql
  regress/sql/agtype_hash_cmp.sql
  regress/sql/cypher_match.sql
Labels: PG15

#1894 Big endian support for PG 16
  Makefile
  regress/expected/agtype.out
  regress/expected/agtype_hash_cmp.out
  regress/expected/agtype_hash_cmp_1.out
  regress/expected/cypher_match.out
  regress/sql/agtype.sql
  regress/sql/agtype_hash_cmp.sql
  regress/sql/cypher_match.sql
Labels: PG16

#1896 Big endian support for PG 14
  Makefile
  regress/expected/agtype.out
  regress/expected/agtype_hash_cmp.out
  regress/expected/agtype_hash_cmp_1.out
  regress/expected/cypher_match.out
  regress/sql/agtype.sql
  regress/sql/agtype_hash_cmp.sql
  regress/sql/cypher_match.sql
Labels: PG14

#1897 Big endian support for PG 13
  Makefile
  regress/expected/agtype.out
  regress/expected/agtype_hash_cmp.out
  regress/expected/agtype_hash_cmp_1.out
  regress/expected/cypher_match.out
  regress/sql/agtype.sql
  regress/sql/agtype_hash_cmp.sql
  regress/sql/cypher_match.sql
Labels: PG13

#1898 Big endian support for PG 12
  Makefile
  regress/expected/agtype.out
  regress/expected/agtype_hash_cmp.out
  regress/expected/agtype_hash_cmp_1.out
  regress/expected/cypher_match.out
  regress/sql/agtype.sql
  regress/sql/agtype_hash_cmp.sql
  regress/sql/cypher_match.sql
Labels: PG12
