Repository apache/age, pull requests merged in 2024-06, with the labels that each got.

#1901 Fix agtype_build_map to allow more than 50 pairs
  regress/expected/expr.out
  regress/sql/expr.sql
  src/backend/parser/cypher_expr.c
Labels: master, override-stale

#1903 Fix agtype_build_map to allow more than 50 pairs (#1901)
  regress/expected/expr.out
  regress/sql/expr.sql
  src/backend/parser/cypher_expr.c
Labels: PG16

#1904 Fix agtype_build_map to allow more than 50 pairs (#1901)
  regress/expected/expr.out
  regress/sql/expr.sql
  src/backend/parser/cypher_expr.c
Labels: PG15

#1906 Fix agtype_build_map to allow more than 50 pairs (#1901)
  regress/expected/expr.out
  regress/sql/expr.sql
  src/backend/parser/cypher_expr.c
Labels: PG13

#1905 Fix agtype_build_map to allow more than 50 pairs (#1901)
  regress/expected/expr.out
  regress/sql/expr.sql
  src/backend/parser/cypher_expr.c
Labels: PG14

#1912 Add function is_valid_label_name (#1911)
  regress/expected/name_validation.out
  regress/sql/name_validation.sql
  sql/agtype_string.sql
  src/backend/commands/label_commands.c
Labels: master, override-stale

#1908 [PG Conventions] Converted single line comments to multiline
  src/backend/catalog/ag_catalog.c
  src/backend/catalog/ag_graph.c
  src/backend/catalog/ag_label.c
  src/backend/commands/graph_commands.c
  src/backend/commands/label_commands.c
  src/backend/executor/cypher_create.c
  src/backend/executor/cypher_delete.c
  src/backend/executor/cypher_merge.c
  src/backend/executor/cypher_set.c
  src/backend/executor/cypher_utils.c
  src/backend/nodes/ag_nodes.c
  src/backend/nodes/cypher_copyfuncs.c
  src/backend/nodes/cypher_outfuncs.c
  src/backend/nodes/cypher_readfuncs.c
  src/backend/optimizer/cypher_createplan.c
  src/backend/optimizer/cypher_pathnode.c
  src/backend/optimizer/cypher_paths.c
  src/backend/parser/ag_scanner.l
  src/backend/parser/cypher_analyze.c
  src/backend/parser/cypher_clause.c
  src/backend/parser/cypher_expr.c
  src/backend/parser/cypher_gram.y
  src/backend/parser/cypher_item.c
  src/backend/parser/cypher_keywords.c
  src/backend/parser/cypher_parse_node.c
  src/backend/parser/cypher_transform_entity.c
  src/backend/utils/adt/agtype.c
  src/backend/utils/adt/agtype_ext.c
  src/backend/utils/adt/agtype_ops.c
  src/backend/utils/adt/agtype_raw.c
  src/backend/utils/adt/agtype_util.c
  src/backend/utils/adt/graphid.c
  src/backend/utils/ag_func.c
  src/backend/utils/cache/ag_cache.c
  src/backend/utils/graph_generation.c
  src/backend/utils/load/ag_load_edges.c
  src/backend/utils/load/ag_load_labels.c
  src/backend/utils/load/age_load.c
  src/backend/utils/load/libcsv.c
  src/include/executor/cypher_utils.h
  src/include/nodes/ag_nodes.h
  src/include/nodes/cypher_copyfuncs.h
  src/include/nodes/cypher_nodes.h
  src/include/nodes/cypher_outfuncs.h
  src/include/nodes/cypher_readfuncs.h
  src/include/parser/ag_scanner.h
  src/include/parser/cypher_clause.h
  src/include/parser/cypher_gram.h
  src/include/parser/cypher_parse_node.h
  src/include/parser/cypher_transform_entity.h
  src/include/utils/ag_cache.h
  src/include/utils/graphid.h
  src/include/utils/load/ag_load_edges.h
  src/include/utils/load/ag_load_labels.h
  src/include/utils/load/age_load.h
  src/include/utils/load/csv.h
Labels: master

#1913 Add function is_valid_label_name (#1911) (#1912)
  regress/expected/name_validation.out
  regress/sql/name_validation.sql
  sql/agtype_string.sql
  src/backend/commands/label_commands.c
Labels: PG16

#1916 Add function is_valid_label_name (#1911) (#1912)
  regress/expected/name_validation.out
  regress/sql/name_validation.sql
  sql/agtype_string.sql
  src/backend/commands/label_commands.c
Labels: PG13

#1915 Add function is_valid_label_name (#1911) (#1912)
  regress/expected/name_validation.out
  regress/sql/name_validation.sql
  sql/agtype_string.sql
  src/backend/commands/label_commands.c
Labels: PG14

#1914 Add function is_valid_label_name (#1911) (#1912)
  regress/expected/name_validation.out
  regress/sql/name_validation.sql
  sql/agtype_string.sql
  src/backend/commands/label_commands.c
Labels: PG15

#1918 [PG Conventions] Converted single line comments to multiline
  src/backend/catalog/ag_catalog.c
  src/backend/catalog/ag_graph.c
  src/backend/catalog/ag_label.c
  src/backend/commands/graph_commands.c
  src/backend/commands/label_commands.c
  src/backend/executor/cypher_create.c
  src/backend/executor/cypher_delete.c
  src/backend/executor/cypher_merge.c
  src/backend/executor/cypher_set.c
  src/backend/executor/cypher_utils.c
  src/backend/nodes/ag_nodes.c
  src/backend/nodes/cypher_copyfuncs.c
  src/backend/nodes/cypher_outfuncs.c
  src/backend/nodes/cypher_readfuncs.c
  src/backend/optimizer/cypher_createplan.c
  src/backend/optimizer/cypher_pathnode.c
  src/backend/optimizer/cypher_paths.c
  src/backend/parser/ag_scanner.l
  src/backend/parser/cypher_analyze.c
  src/backend/parser/cypher_clause.c
  src/backend/parser/cypher_expr.c
  src/backend/parser/cypher_gram.y
  src/backend/parser/cypher_item.c
  src/backend/parser/cypher_keywords.c
  src/backend/parser/cypher_parse_node.c
  src/backend/parser/cypher_transform_entity.c
  src/backend/utils/adt/agtype.c
  src/backend/utils/adt/agtype_ext.c
  src/backend/utils/adt/agtype_ops.c
  src/backend/utils/adt/agtype_raw.c
  src/backend/utils/adt/agtype_util.c
  src/backend/utils/adt/graphid.c
  src/backend/utils/ag_func.c
  src/backend/utils/cache/ag_cache.c
  src/backend/utils/graph_generation.c
  src/backend/utils/load/ag_load_edges.c
  src/backend/utils/load/ag_load_labels.c
  src/backend/utils/load/age_load.c
  src/backend/utils/load/libcsv.c
  src/include/executor/cypher_utils.h
  src/include/nodes/ag_nodes.h
  src/include/nodes/cypher_copyfuncs.h
  src/include/nodes/cypher_nodes.h
  src/include/nodes/cypher_outfuncs.h
  src/include/nodes/cypher_readfuncs.h
  src/include/parser/ag_scanner.h
  src/include/parser/cypher_clause.h
  src/include/parser/cypher_gram.h
  src/include/parser/cypher_parse_node.h
  src/include/parser/cypher_transform_entity.h
  src/include/utils/ag_cache.h
  src/include/utils/graphid.h
  src/include/utils/load/ag_load_edges.h
  src/include/utils/load/ag_load_labels.h
  src/include/utils/load/age_load.h
  src/include/utils/load/csv.h
Labels: PG16

#1919 [PG Conventions] Converted single line comments to multiline
  src/backend/catalog/ag_catalog.c
  src/backend/catalog/ag_graph.c
  src/backend/catalog/ag_label.c
  src/backend/commands/graph_commands.c
  src/backend/commands/label_commands.c
  src/backend/executor/cypher_create.c
  src/backend/executor/cypher_delete.c
  src/backend/executor/cypher_merge.c
  src/backend/executor/cypher_set.c
  src/backend/executor/cypher_utils.c
  src/backend/nodes/ag_nodes.c
  src/backend/nodes/cypher_copyfuncs.c
  src/backend/nodes/cypher_outfuncs.c
  src/backend/nodes/cypher_readfuncs.c
  src/backend/optimizer/cypher_createplan.c
  src/backend/optimizer/cypher_pathnode.c
  src/backend/optimizer/cypher_paths.c
  src/backend/parser/ag_scanner.l
  src/backend/parser/cypher_analyze.c
  src/backend/parser/cypher_clause.c
  src/backend/parser/cypher_expr.c
  src/backend/parser/cypher_gram.y
  src/backend/parser/cypher_item.c
  src/backend/parser/cypher_keywords.c
  src/backend/parser/cypher_parse_node.c
  src/backend/parser/cypher_transform_entity.c
  src/backend/utils/adt/agtype.c
  src/backend/utils/adt/agtype_ext.c
  src/backend/utils/adt/agtype_ops.c
  src/backend/utils/adt/agtype_raw.c
  src/backend/utils/adt/agtype_util.c
  src/backend/utils/adt/graphid.c
  src/backend/utils/ag_func.c
  src/backend/utils/cache/ag_cache.c
  src/backend/utils/graph_generation.c
  src/backend/utils/load/ag_load_edges.c
  src/backend/utils/load/ag_load_labels.c
  src/backend/utils/load/age_load.c
  src/backend/utils/load/libcsv.c
  src/include/executor/cypher_utils.h
  src/include/nodes/ag_nodes.h
  src/include/nodes/cypher_copyfuncs.h
  src/include/nodes/cypher_nodes.h
  src/include/nodes/cypher_outfuncs.h
  src/include/nodes/cypher_readfuncs.h
  src/include/parser/ag_scanner.h
  src/include/parser/cypher_clause.h
  src/include/parser/cypher_gram.h
  src/include/parser/cypher_parse_node.h
  src/include/parser/cypher_transform_entity.h
  src/include/utils/ag_cache.h
  src/include/utils/graphid.h
  src/include/utils/load/ag_load_edges.h
  src/include/utils/load/ag_load_labels.h
  src/include/utils/load/age_load.h
  src/include/utils/load/csv.h
Labels: PG15

#1920 [PG Conventions] Converted single line comments to multiline
  src/backend/catalog/ag_catalog.c
  src/backend/catalog/ag_graph.c
  src/backend/catalog/ag_label.c
  src/backend/commands/graph_commands.c
  src/backend/commands/label_commands.c
  src/backend/executor/cypher_create.c
  src/backend/executor/cypher_delete.c
  src/backend/executor/cypher_merge.c
  src/backend/executor/cypher_set.c
  src/backend/executor/cypher_utils.c
  src/backend/nodes/ag_nodes.c
  src/backend/nodes/cypher_copyfuncs.c
  src/backend/nodes/cypher_outfuncs.c
  src/backend/nodes/cypher_readfuncs.c
  src/backend/optimizer/cypher_createplan.c
  src/backend/optimizer/cypher_pathnode.c
  src/backend/optimizer/cypher_paths.c
  src/backend/parser/ag_scanner.l
  src/backend/parser/cypher_analyze.c
  src/backend/parser/cypher_clause.c
  src/backend/parser/cypher_expr.c
  src/backend/parser/cypher_gram.y
  src/backend/parser/cypher_item.c
  src/backend/parser/cypher_keywords.c
  src/backend/parser/cypher_parse_node.c
  src/backend/parser/cypher_transform_entity.c
  src/backend/utils/adt/agtype.c
  src/backend/utils/adt/agtype_ext.c
  src/backend/utils/adt/agtype_ops.c
  src/backend/utils/adt/agtype_raw.c
  src/backend/utils/adt/agtype_util.c
  src/backend/utils/adt/graphid.c
  src/backend/utils/ag_func.c
  src/backend/utils/cache/ag_cache.c
  src/backend/utils/graph_generation.c
  src/backend/utils/load/ag_load_edges.c
  src/backend/utils/load/ag_load_labels.c
  src/backend/utils/load/age_load.c
  src/backend/utils/load/libcsv.c
  src/include/executor/cypher_utils.h
  src/include/nodes/ag_nodes.h
  src/include/nodes/cypher_copyfuncs.h
  src/include/nodes/cypher_nodes.h
  src/include/nodes/cypher_outfuncs.h
  src/include/nodes/cypher_readfuncs.h
  src/include/parser/ag_scanner.h
  src/include/parser/cypher_clause.h
  src/include/parser/cypher_gram.h
  src/include/parser/cypher_parse_node.h
  src/include/parser/cypher_transform_entity.h
  src/include/utils/ag_cache.h
  src/include/utils/graphid.h
  src/include/utils/load/ag_load_edges.h
  src/include/utils/load/ag_load_labels.h
  src/include/utils/load/age_load.h
  src/include/utils/load/csv.h
Labels: PG14

#1921 [PG Conventions] Converted single line comments to multiline
  src/backend/catalog/ag_catalog.c
  src/backend/catalog/ag_graph.c
  src/backend/catalog/ag_label.c
  src/backend/commands/graph_commands.c
  src/backend/commands/label_commands.c
  src/backend/executor/cypher_create.c
  src/backend/executor/cypher_delete.c
  src/backend/executor/cypher_merge.c
  src/backend/executor/cypher_set.c
  src/backend/executor/cypher_utils.c
  src/backend/nodes/ag_nodes.c
  src/backend/nodes/cypher_copyfuncs.c
  src/backend/nodes/cypher_outfuncs.c
  src/backend/nodes/cypher_readfuncs.c
  src/backend/optimizer/cypher_createplan.c
  src/backend/optimizer/cypher_pathnode.c
  src/backend/optimizer/cypher_paths.c
  src/backend/parser/ag_scanner.l
  src/backend/parser/cypher_analyze.c
  src/backend/parser/cypher_clause.c
  src/backend/parser/cypher_expr.c
  src/backend/parser/cypher_gram.y
  src/backend/parser/cypher_item.c
  src/backend/parser/cypher_keywords.c
  src/backend/parser/cypher_parse_node.c
  src/backend/parser/cypher_transform_entity.c
  src/backend/utils/adt/agtype.c
  src/backend/utils/adt/agtype_ext.c
  src/backend/utils/adt/agtype_ops.c
  src/backend/utils/adt/agtype_raw.c
  src/backend/utils/adt/agtype_util.c
  src/backend/utils/adt/graphid.c
  src/backend/utils/ag_func.c
  src/backend/utils/cache/ag_cache.c
  src/backend/utils/graph_generation.c
  src/backend/utils/load/ag_load_edges.c
  src/backend/utils/load/ag_load_labels.c
  src/backend/utils/load/age_load.c
  src/backend/utils/load/libcsv.c
  src/include/executor/cypher_utils.h
  src/include/nodes/ag_nodes.h
  src/include/nodes/cypher_copyfuncs.h
  src/include/nodes/cypher_nodes.h
  src/include/nodes/cypher_outfuncs.h
  src/include/nodes/cypher_readfuncs.h
  src/include/parser/ag_scanner.h
  src/include/parser/cypher_clause.h
  src/include/parser/cypher_gram.h
  src/include/parser/cypher_parse_node.h
  src/include/parser/cypher_transform_entity.h
  src/include/utils/ag_cache.h
  src/include/utils/graphid.h
  src/include/utils/load/ag_load_edges.h
  src/include/utils/load/ag_load_labels.h
  src/include/utils/load/age_load.h
  src/include/utils/load/csv.h
Labels: PG13

#1922 [PG Conventions] Converted single line comments to multiline
  src/backend/catalog/ag_catalog.c
  src/backend/catalog/ag_graph.c
  src/backend/catalog/ag_label.c
  src/backend/commands/graph_commands.c
  src/backend/commands/label_commands.c
  src/backend/executor/cypher_create.c
  src/backend/executor/cypher_delete.c
  src/backend/executor/cypher_merge.c
  src/backend/executor/cypher_set.c
  src/backend/executor/cypher_utils.c
  src/backend/nodes/ag_nodes.c
  src/backend/nodes/cypher_copyfuncs.c
  src/backend/nodes/cypher_outfuncs.c
  src/backend/nodes/cypher_readfuncs.c
  src/backend/optimizer/cypher_createplan.c
  src/backend/optimizer/cypher_pathnode.c
  src/backend/optimizer/cypher_paths.c
  src/backend/parser/ag_scanner.l
  src/backend/parser/cypher_analyze.c
  src/backend/parser/cypher_clause.c
  src/backend/parser/cypher_expr.c
  src/backend/parser/cypher_gram.y
  src/backend/parser/cypher_item.c
  src/backend/parser/cypher_keywords.c
  src/backend/parser/cypher_parse_node.c
  src/backend/parser/cypher_transform_entity.c
  src/backend/utils/adt/agtype.c
  src/backend/utils/adt/agtype_ext.c
  src/backend/utils/adt/agtype_ops.c
  src/backend/utils/adt/agtype_raw.c
  src/backend/utils/adt/agtype_util.c
  src/backend/utils/adt/graphid.c
  src/backend/utils/ag_func.c
  src/backend/utils/cache/ag_cache.c
  src/backend/utils/graph_generation.c
  src/backend/utils/load/ag_load_edges.c
  src/backend/utils/load/ag_load_labels.c
  src/backend/utils/load/age_load.c
  src/backend/utils/load/libcsv.c
  src/include/executor/cypher_utils.h
  src/include/nodes/ag_nodes.h
  src/include/nodes/cypher_copyfuncs.h
  src/include/nodes/cypher_nodes.h
  src/include/nodes/cypher_outfuncs.h
  src/include/nodes/cypher_readfuncs.h
  src/include/parser/ag_scanner.h
  src/include/parser/cypher_clause.h
  src/include/parser/cypher_gram.h
  src/include/parser/cypher_parse_node.h
  src/include/parser/cypher_transform_entity.h
  src/include/utils/ag_cache.h
  src/include/utils/graphid.h
  src/include/utils/load/ag_load_edges.h
  src/include/utils/load/ag_load_labels.h
  src/include/utils/load/age_load.h
  src/include/utils/load/csv.h
Labels: PG12

#1924 Fix issue 1910: Server crashes when using exists(vle path)
  regress/expected/cypher_vle.out
  regress/sql/cypher_vle.sql
  src/backend/parser/cypher_clause.c
  src/backend/parser/cypher_expr.c
Labels: master, override-stale

#1930 Fix issue 1910: Server crashes when using exists(vle path) (#1924)
  regress/expected/cypher_vle.out
  regress/sql/cypher_vle.sql
  src/backend/parser/cypher_clause.c
  src/backend/parser/cypher_expr.c
Labels: PG13

#1929 Fix issue 1910: Server crashes when using exists(vle path) (#1924)
  regress/expected/cypher_vle.out
  regress/sql/cypher_vle.sql
  src/backend/parser/cypher_clause.c
  src/backend/parser/cypher_expr.c
Labels: PG14

#1928 Fix issue 1910: Server crashes when using exists(vle path) (#1924)
  regress/expected/cypher_vle.out
  regress/sql/cypher_vle.sql
  src/backend/parser/cypher_clause.c
  src/backend/parser/cypher_expr.c
Labels: PG15

#1927 Fix issue 1910: Server crashes when using exists(vle path) (#1924)
  regress/expected/cypher_vle.out
  regress/sql/cypher_vle.sql
  src/backend/parser/cypher_clause.c
  src/backend/parser/cypher_expr.c
Labels: PG16

#1935 Load Age from the plugins directory to facilitate non-superuser usage
  drivers/python/README.md
  drivers/python/age/__init__.py
  drivers/python/age/age.py
Labels: master
