Repository apache/age, pull requests merged in 2024-09, with the labels that each got.

#2083 Add support for fuzzystrmatch and other external extensions
  regress/expected/expr.out
  regress/sql/expr.sql
  sql/agtype_coercions.sql
  src/backend/parser/cypher_expr.c
  src/backend/utils/adt/agtype.c
Labels: master, override-stale

#2084 Fix memory leaks in functions part 1 (#2066)
  src/backend/utils/adt/age_vle.c
  src/backend/utils/adt/agtype.c
  src/backend/utils/adt/agtype_util.c
  src/include/utils/agtype.h
Labels: PG16, override-stale

#2085 Fix memory leaks in functions part 1 (#2066)
  src/backend/utils/adt/age_vle.c
  src/backend/utils/adt/agtype.c
  src/backend/utils/adt/agtype_util.c
  src/include/utils/agtype.h
Labels: PG15, override-stale

#2086 Fix memory leaks in functions part 1 (#2066)
  src/backend/utils/adt/age_vle.c
  src/backend/utils/adt/agtype.c
  src/backend/utils/adt/agtype_util.c
  src/include/utils/agtype.h
Labels: PG14, override-stale

#2087 Fix memory leaks in functions part 1 (#2066)
  src/backend/utils/adt/age_vle.c
  src/backend/utils/adt/agtype.c
  src/backend/utils/adt/agtype_util.c
  src/include/utils/agtype.h
Labels: PG13, override-stale

#2089 Fix memory leaks in functions part 1 (#2066)
  src/backend/utils/adt/age_vle.c
  src/backend/utils/adt/agtype.c
  src/backend/utils/adt/agtype_util.c
  src/include/utils/agtype.h
Labels: PG12, override-stale

#2090 Fix memory leaks in functions part 1 (#2066)
  src/backend/utils/adt/age_vle.c
  src/backend/utils/adt/agtype.c
  src/backend/utils/adt/agtype_util.c
  src/include/utils/agtype.h
Labels: PG11, override-stale

#2094 Fix issue 1955 - List comprehension in WHERE clause
  regress/expected/list_comprehension.out
  regress/sql/list_comprehension.sql
  src/backend/parser/cypher_expr.c
Labels: master, override-stale

#2076 Issue 1996 - Add agtype to json typecast (#2075)
  age--1.5.0--y.y.y.sql
  regress/expected/expr.out
  regress/sql/expr.sql
  sql/agtype_coercions.sql
  src/backend/utils/adt/agtype.c
  src/backend/utils/adt/agtype_util.c
  src/include/utils/agtype.h
Labels: PG14, override-stale

#2077 Issue 1996 - Add agtype to json typecast (#2075)
  age--1.5.0--y.y.y.sql
  regress/expected/expr.out
  regress/sql/expr.sql
  sql/agtype_coercions.sql
  src/backend/utils/adt/agtype.c
  src/backend/utils/adt/agtype_util.c
  src/include/utils/agtype.h
Labels: PG13, override-stale

#2081 Issue 1996 - Add agtype to json typecast (#2075)
  age--1.5.0--y.y.y.sql
  regress/expected/expr.out
  regress/sql/expr.sql
  sql/agtype_coercions.sql
  src/backend/utils/adt/agtype.c
  src/backend/utils/adt/agtype_util.c
  src/include/utils/agtype.h
Labels: PG11, override-stale

#2080 Issue 1996 - Add agtype to json typecast (#2075)
  age--1.5.0--y.y.y.sql
  regress/expected/expr.out
  regress/sql/expr.sql
  sql/agtype_coercions.sql
  src/backend/utils/adt/agtype.c
  src/backend/utils/adt/agtype_util.c
  src/include/utils/agtype.h
Labels: PG12, override-stale

#2078 Issue 1996 - Add agtype to json typecast (#2075)
  age--1.5.0--y.y.y.sql
  regress/expected/expr.out
  regress/sql/expr.sql
  sql/agtype_coercions.sql
  src/backend/utils/adt/agtype.c
  src/backend/utils/adt/agtype_util.c
  src/include/utils/agtype.h
Labels: PG15, override-stale

#2079 Issue 1996 - Add agtype to json typecast (#2075)
  age--1.5.0--y.y.y.sql
  regress/expected/expr.out
  regress/sql/expr.sql
  sql/agtype_coercions.sql
  src/backend/utils/adt/agtype.c
  src/backend/utils/adt/agtype_util.c
  src/include/utils/agtype.h
Labels: PG16, override-stale

#2095 Fix issue 2093: pfree() called with a NULL pointer
  regress/expected/expr.out
  regress/sql/expr.sql
  src/backend/commands/label_commands.c
  src/backend/executor/cypher_merge.c
  src/backend/executor/cypher_set.c
  src/backend/parser/ag_scanner.l
  src/backend/parser/cypher_analyze.c
  src/backend/parser/cypher_expr.c
  src/backend/parser/cypher_gram.y
  src/backend/parser/cypher_parse_agg.c
  src/backend/utils/adt/age_global_graph.c
  src/backend/utils/adt/age_graphid_ds.c
  src/backend/utils/adt/age_session_info.c
  src/backend/utils/adt/age_vle.c
  src/backend/utils/adt/agtype.c
  src/backend/utils/adt/agtype_gin.c
  src/backend/utils/adt/agtype_raw.c
  src/backend/utils/adt/agtype_util.c
  src/backend/utils/load/ag_load_edges.c
  src/backend/utils/load/ag_load_labels.c
  src/include/utils/age_graphid_ds.h
  src/include/utils/age_session_info.h
  src/include/utils/agtype.h
Labels: master, override-stale

#2096 Add support for fuzzystrmatch and other external extensions (#2083)
  regress/expected/expr.out
  regress/sql/expr.sql
  sql/agtype_coercions.sql
  src/backend/parser/cypher_expr.c
  src/backend/utils/adt/agtype.c
Labels: PG16, override-stale

#2088 Add support for external extensions
  .github/workflows/installcheck.yaml
  Makefile
  regress/expected/expr.out
  regress/expected/fuzzystrmatch.out
  regress/expected/pg_trgm.out
  regress/expected/pgvector.out
  regress/sql/expr.sql
  regress/sql/fuzzystrmatch.sql
  regress/sql/pg_trgm.sql
  regress/sql/pgvector.sql
  src/backend/parser/cypher_expr.c
Labels: master, override-stale

#2100 Fix issue 2093: pfree() called with a NULL pointer (#2095)
  regress/expected/expr.out
  regress/sql/expr.sql
  src/backend/commands/label_commands.c
  src/backend/executor/cypher_merge.c
  src/backend/executor/cypher_set.c
  src/backend/parser/ag_scanner.l
  src/backend/parser/cypher_analyze.c
  src/backend/parser/cypher_expr.c
  src/backend/parser/cypher_gram.y
  src/backend/parser/cypher_parse_agg.c
  src/backend/utils/adt/age_global_graph.c
  src/backend/utils/adt/age_graphid_ds.c
  src/backend/utils/adt/age_session_info.c
  src/backend/utils/adt/age_vle.c
  src/backend/utils/adt/agtype.c
  src/backend/utils/adt/agtype_gin.c
  src/backend/utils/adt/agtype_raw.c
  src/backend/utils/adt/agtype_util.c
  src/backend/utils/load/ag_load_edges.c
  src/backend/utils/load/ag_load_labels.c
  src/include/utils/age_graphid_ds.h
  src/include/utils/age_session_info.h
  src/include/utils/agtype.h
Labels: PG16, override-stale

#2101 Fix issue 2093: pfree() called with a NULL pointer (#2095)
  regress/expected/expr.out
  regress/sql/expr.sql
  src/backend/commands/label_commands.c
  src/backend/executor/cypher_merge.c
  src/backend/executor/cypher_set.c
  src/backend/parser/ag_scanner.l
  src/backend/parser/cypher_analyze.c
  src/backend/parser/cypher_expr.c
  src/backend/parser/cypher_gram.y
  src/backend/parser/cypher_parse_agg.c
  src/backend/utils/adt/age_global_graph.c
  src/backend/utils/adt/age_graphid_ds.c
  src/backend/utils/adt/age_session_info.c
  src/backend/utils/adt/age_vle.c
  src/backend/utils/adt/agtype.c
  src/backend/utils/adt/agtype_gin.c
  src/backend/utils/adt/agtype_raw.c
  src/backend/utils/adt/agtype_util.c
  src/backend/utils/load/ag_load_edges.c
  src/backend/utils/load/ag_load_labels.c
  src/include/utils/age_graphid_ds.h
  src/include/utils/age_session_info.h
  src/include/utils/agtype.h
Labels: PG15, override-stale

#2102 Fix issue 2093: pfree() called with a NULL pointer (#2095)
  regress/expected/expr.out
  regress/sql/expr.sql
  src/backend/commands/label_commands.c
  src/backend/executor/cypher_merge.c
  src/backend/executor/cypher_set.c
  src/backend/parser/ag_scanner.l
  src/backend/parser/cypher_analyze.c
  src/backend/parser/cypher_expr.c
  src/backend/parser/cypher_gram.y
  src/backend/parser/cypher_parse_agg.c
  src/backend/utils/adt/age_global_graph.c
  src/backend/utils/adt/age_graphid_ds.c
  src/backend/utils/adt/age_session_info.c
  src/backend/utils/adt/age_vle.c
  src/backend/utils/adt/agtype.c
  src/backend/utils/adt/agtype_gin.c
  src/backend/utils/adt/agtype_raw.c
  src/backend/utils/adt/agtype_util.c
  src/backend/utils/load/ag_load_edges.c
  src/backend/utils/load/ag_load_labels.c
  src/include/utils/age_graphid_ds.h
  src/include/utils/age_session_info.h
  src/include/utils/agtype.h
Labels: PG14, override-stale

#2103 Fix issue 2093: pfree() called with a NULL pointer (#2095)
  regress/expected/expr.out
  regress/sql/expr.sql
  src/backend/commands/label_commands.c
  src/backend/executor/cypher_merge.c
  src/backend/executor/cypher_set.c
  src/backend/parser/ag_scanner.l
  src/backend/parser/cypher_analyze.c
  src/backend/parser/cypher_expr.c
  src/backend/parser/cypher_gram.y
  src/backend/parser/cypher_parse_agg.c
  src/backend/utils/adt/age_global_graph.c
  src/backend/utils/adt/age_graphid_ds.c
  src/backend/utils/adt/age_session_info.c
  src/backend/utils/adt/age_vle.c
  src/backend/utils/adt/agtype.c
  src/backend/utils/adt/agtype_gin.c
  src/backend/utils/adt/agtype_raw.c
  src/backend/utils/adt/agtype_util.c
  src/backend/utils/load/ag_load_edges.c
  src/backend/utils/load/ag_load_labels.c
  src/include/utils/age_graphid_ds.h
  src/include/utils/age_session_info.h
  src/include/utils/agtype.h
Labels: PG13, override-stale

#2104 Fix issue 2093: pfree() called with a NULL pointer (#2095)
  regress/expected/expr.out
  regress/sql/expr.sql
  src/backend/commands/label_commands.c
  src/backend/executor/cypher_merge.c
  src/backend/executor/cypher_set.c
  src/backend/executor/cypher_utils.c
  src/backend/parser/ag_scanner.l
  src/backend/parser/cypher_analyze.c
  src/backend/parser/cypher_gram.y
  src/backend/parser/cypher_parse_agg.c
  src/backend/utils/adt/age_global_graph.c
  src/backend/utils/adt/age_graphid_ds.c
  src/backend/utils/adt/age_session_info.c
  src/backend/utils/adt/age_vle.c
  src/backend/utils/adt/agtype.c
  src/backend/utils/adt/agtype_gin.c
  src/backend/utils/adt/agtype_raw.c
  src/backend/utils/adt/agtype_util.c
  src/backend/utils/load/ag_load_edges.c
  src/backend/utils/load/ag_load_labels.c
  src/include/utils/age_graphid_ds.h
  src/include/utils/age_session_info.h
  src/include/utils/agtype.h
Labels: PG12, override-stale

#2105 Fix issue 2093: pfree() called with a NULL pointer (#2095)
  regress/expected/expr.out
  regress/sql/expr.sql
  src/backend/commands/label_commands.c
  src/backend/executor/cypher_merge.c
  src/backend/executor/cypher_set.c
  src/backend/executor/cypher_utils.c
  src/backend/parser/ag_scanner.l
  src/backend/parser/cypher_analyze.c
  src/backend/parser/cypher_gram.y
  src/backend/parser/cypher_parse_agg.c
  src/backend/utils/adt/age_global_graph.c
  src/backend/utils/adt/age_graphid_ds.c
  src/backend/utils/adt/age_session_info.c
  src/backend/utils/adt/age_vle.c
  src/backend/utils/adt/agtype.c
  src/backend/utils/adt/agtype_gin.c
  src/backend/utils/adt/agtype_raw.c
  src/backend/utils/adt/agtype_util.c
  src/backend/utils/load/ag_load_edges.c
  src/backend/utils/load/ag_load_labels.c
  src/include/utils/age_graphid_ds.h
  src/include/utils/age_session_info.h
  src/include/utils/agtype.h
Labels: PG11, override-stale

#2109 Add support for external extensions (#2088)
  .github/workflows/installcheck.yaml
  Makefile
  regress/expected/expr.out
  regress/expected/fuzzystrmatch.out
  regress/expected/pg_trgm.out
  regress/expected/pgvector.out
  regress/sql/expr.sql
  regress/sql/fuzzystrmatch.sql
  regress/sql/pg_trgm.sql
  regress/sql/pgvector.sql
  src/backend/parser/cypher_expr.c
Labels: PG16, override-stale

#2108 Add support for external extensions (#2088)
  .github/workflows/installcheck.yaml
  Makefile
  regress/expected/expr.out
  regress/expected/fuzzystrmatch.out
  regress/expected/pg_trgm.out
  regress/expected/pgvector.out
  regress/sql/expr.sql
  regress/sql/fuzzystrmatch.sql
  regress/sql/pg_trgm.sql
  regress/sql/pgvector.sql
  src/backend/parser/cypher_expr.c
Labels: PG15, override-stale

#2107 Add support for external extensions (#2088)
  .github/workflows/installcheck.yaml
  Makefile
  regress/expected/expr.out
  regress/expected/fuzzystrmatch.out
  regress/expected/pg_trgm.out
  regress/expected/pgvector.out
  regress/sql/expr.sql
  regress/sql/fuzzystrmatch.sql
  regress/sql/pg_trgm.sql
  regress/sql/pgvector.sql
  src/backend/parser/cypher_expr.c
Labels: PG14, override-stale

#2106 Add support for external extensions (#2088)
  .github/workflows/installcheck.yaml
  Makefile
  regress/expected/expr.out
  regress/expected/fuzzystrmatch.out
  regress/expected/pg_trgm.out
  regress/expected/pgvector.out
  regress/sql/expr.sql
  regress/sql/fuzzystrmatch.sql
  regress/sql/pg_trgm.sql
  regress/sql/pgvector.sql
  src/backend/parser/cypher_expr.c
Labels: PG13, override-stale

#2119 Adjust repository settings
  .asf.yaml
Labels: master, override-stale
