Repository apache/age, pull requests merged in 2024-01, with the labels that each got.

#1474 Remove redundant job from CIs
  .github/workflows/go-driver.yml
  .github/workflows/installcheck.yaml
  .github/workflows/jdbc-driver.yaml
  .github/workflows/nodejs-driver.yaml
  .github/workflows/python-driver.yaml
Labels: PG14

#1475 Remove redundant job from CIs
  .github/workflows/go-driver.yml
  .github/workflows/installcheck.yaml
  .github/workflows/jdbc-driver.yaml
  .github/workflows/nodejs-driver.yaml
  .github/workflows/python-driver.yaml
Labels: PG15

#1450 Add an additional way to find a previous variable ref
  src/backend/parser/cypher_expr.c
Labels: master

#1064 Add checks for array functions to recognize and decode VPC
  regress/expected/expr.out
  regress/sql/expr.sql
  src/backend/parser/cypher_expr.c
  src/backend/utils/adt/agtype.c
  src/include/utils/agtype.h
Labels: master

#1479 Add an additional way to find a previous variable ref (#1450)
  src/backend/parser/cypher_expr.c
Labels: PG13

#1478 Add an additional way to find a previous variable ref (#1450)
  src/backend/parser/cypher_expr.c
Labels: PG14

#1477 Add an additional way to find a previous variable ref (#1450)
  src/backend/parser/cypher_expr.c
Labels: PG15

#1481 Add an additional way to find a previous variable ref (#1450)
  src/backend/parser/cypher_expr.c
Labels: PG11

#1480 Add an additional way to find a previous variable ref (#1450)
  src/backend/parser/cypher_expr.c
Labels: PG12

#1488 Refactor the IN operator to use '= ANY()' syntax (#1236)
  regress/expected/expr.out
  regress/sql/expr.sql
  src/backend/parser/cypher_expr.c
  src/backend/utils/adt/agtype_ops.c
Labels: PG11

#1487 Refactor the IN operator to use '= ANY()' syntax (#1236)
  regress/expected/expr.out
  regress/sql/expr.sql
  src/backend/parser/cypher_expr.c
  src/backend/utils/adt/agtype_ops.c
Labels: PG12

#1485 Refactor the IN operator to use '= ANY()' syntax (#1236)
  regress/expected/expr.out
  regress/sql/expr.sql
  src/backend/parser/cypher_expr.c
  src/backend/utils/adt/agtype_ops.c
Labels: PG14

#1486 Refactor the IN operator to use '= ANY()' syntax (#1236)
  regress/expected/expr.out
  regress/sql/expr.sql
  src/backend/parser/cypher_expr.c
  src/backend/utils/adt/agtype_ops.c
Labels: PG13

#1492 Add checks for array functions to recognize and decode VPC (#1064)
  regress/expected/expr.out
  regress/sql/expr.sql
  src/backend/parser/cypher_expr.c
  src/backend/utils/adt/agtype.c
  src/include/utils/agtype.h
Labels: PG11

#1491 Add checks for array functions to recognize and decode VPC (#1064)
  regress/expected/expr.out
  regress/sql/expr.sql
  src/backend/parser/cypher_expr.c
  src/backend/utils/adt/agtype.c
  src/include/utils/agtype.h
Labels: PG12

#1490 Add checks for array functions to recognize and decode VPC (#1064)
  regress/expected/expr.out
  regress/sql/expr.sql
  src/backend/parser/cypher_expr.c
  src/backend/utils/adt/agtype.c
  src/include/utils/agtype.h
Labels: PG13

#1489 Add checks for array functions to recognize and decode VPC (#1064)
  regress/expected/expr.out
  regress/sql/expr.sql
  src/backend/parser/cypher_expr.c
  src/backend/utils/adt/agtype.c
  src/include/utils/agtype.h
Labels: PG14

#1484 Add checks for array functions to recognize and decode VPC (#1064)
  regress/expected/expr.out
  regress/sql/expr.sql
  src/backend/parser/cypher_expr.c
  src/backend/utils/adt/agtype.c
  src/include/utils/agtype.h
Labels: PG15

#1482 Advance to Apache AGE version 1.5.0
  Makefile
  README.md
  RELEASE
  age.control
  sql/age_agtype.sql
  sql/agtype_coercions.sql
  sql/agtype_comparison.sql
  sql/agtype_gin.sql
  sql/agtype_operators.sql
  sql/agtype_string.sql
Labels: master

#1494 Advance to Apache AGE version 1.5.0 (#1482) (#1493)
  Makefile
  README.md
  RELEASE
  age.control
  sql/age_agtype.sql
  sql/agtype_coercions.sql
  sql/agtype_comparison.sql
  sql/agtype_gin.sql
  sql/agtype_operators.sql
  sql/agtype_string.sql
Labels: PG15

#1498 Advance to Apache AGE version 1.5.0 (#1482) (#1493)
  Makefile
  README.md
  RELEASE
  age.control
  sql/age_agtype.sql
  sql/agtype_coercions.sql
  sql/agtype_comparison.sql
  sql/agtype_gin.sql
  sql/agtype_operators.sql
  sql/agtype_string.sql
Labels: PG11

#1497 Advance to Apache AGE version 1.5.0 (#1482) (#1493)
  Makefile
  README.md
  RELEASE
  age.control
  sql/age_agtype.sql
  sql/agtype_coercions.sql
  sql/agtype_comparison.sql
  sql/agtype_gin.sql
  sql/agtype_operators.sql
  sql/agtype_string.sql
Labels: PG12

#1496 Advance to Apache AGE version 1.5.0 (#1482) (#1493)
  Makefile
  README.md
  RELEASE
  age.control
  sql/age_agtype.sql
  sql/agtype_coercions.sql
  sql/agtype_comparison.sql
  sql/agtype_gin.sql
  sql/agtype_operators.sql
  sql/agtype_string.sql
Labels: PG13

#1505 Correct cleanup of age--x.x.x.sql files
  Makefile
Labels: master

#1509 Clean up #included files in nodes, executor, & optimizer directories
  src/backend/executor/cypher_create.c
  src/backend/executor/cypher_delete.c
  src/backend/executor/cypher_merge.c
  src/backend/executor/cypher_set.c
  src/backend/executor/cypher_utils.c
  src/backend/nodes/ag_nodes.c
  src/backend/nodes/cypher_copyfuncs.c
  src/backend/nodes/cypher_outfuncs.c
  src/backend/optimizer/cypher_createplan.c
  src/backend/optimizer/cypher_pathnode.c
  src/backend/optimizer/cypher_paths.c
Labels: master

#1514 Clean up #included files in catalog & commands directories
  src/backend/catalog/ag_catalog.c
  src/backend/catalog/ag_graph.c
  src/backend/catalog/ag_label.c
  src/backend/commands/graph_commands.c
  src/backend/commands/label_commands.c
Labels: master

#1518 Clean up #included files in src/include directories
  src/include/catalog/ag_catalog.h
  src/include/catalog/ag_graph.h
  src/include/catalog/ag_label.h
  src/include/catalog/ag_namespace.h
  src/include/commands/graph_commands.h
  src/include/commands/label_commands.h
  src/include/executor/cypher_executor.h
  src/include/executor/cypher_utils.h
  src/include/nodes/ag_nodes.h
  src/include/nodes/cypher_copyfuncs.h
  src/include/nodes/cypher_nodes.h
  src/include/nodes/cypher_outfuncs.h
  src/include/nodes/cypher_readfuncs.h
  src/include/optimizer/cypher_createplan.h
  src/include/optimizer/cypher_pathnode.h
  src/include/parser/cypher_clause.h
  src/include/parser/cypher_expr.h
  src/include/parser/cypher_gram.h
  src/include/parser/cypher_item.h
  src/include/parser/cypher_parse_node.h
  src/include/parser/cypher_parser.h
  src/include/parser/cypher_transform_entity.h
  src/include/utils/ag_cache.h
  src/include/utils/ag_float8_supp.h
  src/include/utils/ag_func.h
  src/include/utils/ag_load.h
  src/include/utils/age_global_graph.h
  src/include/utils/agtype.h
  src/include/utils/agtype_parser.h
  src/include/utils/agtype_raw.h
  src/include/utils/graphid.h
  src/include/utils/load/ag_load_edges.h
  src/include/utils/load/ag_load_labels.h
  src/include/utils/load/age_load.h
Labels: master

#1515 Fix issue#1513 - Invalid variable reuse in CREATE and MERGE clause
  regress/expected/cypher_create.out
  regress/expected/cypher_merge.out
  regress/sql/cypher_create.sql
  regress/sql/cypher_merge.sql
  src/backend/parser/cypher_clause.c
Labels: master

#1519 Update age_load to load scalar property values with appropriate type
  regress/age_load/data/conversion_edges.csv
  regress/age_load/data/conversion_vertices.csv
  regress/expected/age_load.out
  regress/sql/age_load.sql
  src/backend/utils/adt/agtype.c
  src/backend/utils/load/ag_load_edges.c
  src/backend/utils/load/age_load.c
  src/include/utils/agtype.h
Labels: master

#1506 Add template for upgrading between versions of Apache AGE
  .gitignore
  age--1.5.0--y.y.y.sql
Labels: master

#1228 Fix json serialization error in Python Driver
  drivers/python/age/models.py
  drivers/python/test_age_py.py
Labels: master

#1527 Update the Go driver documentation and Linux installer
  .github/workflows/go-driver.yml
  drivers/golang/README.md
  drivers/golang/go.mod
  drivers/golang/go.sum
  drivers/golang/install.sh
  drivers/golang/parser/generate.sh
Labels: master
