Repository apache/age, pull requests merged in 2024-07, with the labels that each got.

#1938 Update README.md
  README.md
Labels: master

#1940 docs: add .NET driver
  README.md
Labels: PG16

#1941 docs: add .NET driver link
  README.md
Labels: PG15

#1942 docs: add link to .NET driver
  README.md
Labels: PG14

#1950 Add the `load_from_plugins` parameter in the Python driver to load AGE from the $libdir/plugins directory
  drivers/python/README.md
  drivers/python/age/__init__.py
  drivers/python/age/age.py
Labels: PG16

#1949 Add the `load_from_plugins` parameter in the Python driver to load AGE from the $libdir/plugins directory
  drivers/python/README.md
  drivers/python/age/__init__.py
  drivers/python/age/age.py
Labels: PG15

#1948 Add the `load_from_plugins` parameter in the Python driver to load AGE from the $libdir/plugins directory
  drivers/python/README.md
  drivers/python/age/__init__.py
  drivers/python/age/age.py
Labels: PG14

#1947 Add the `load_from_plugins` parameter in the Python driver to load AGE from the $libdir/plugins directory
  drivers/python/README.md
  drivers/python/age/__init__.py
  drivers/python/age/age.py
Labels: PG13

#1957 Fix issue 1956 - null key name passed.
  regress/expected/expr.out
  regress/sql/expr.sql
  src/backend/utils/adt/agtype.c
Labels: master, override-stale

#1958 Add graph_exists function
  age--1.5.0--y.y.y.sql
  regress/expected/catalog.out
  regress/sql/catalog.sql
  sql/age_agtype.sql
  src/backend/commands/graph_commands.c
Labels: master, override-stale

#1959 Fix issue 1953 - PG Boolean used as AGTYPE object
  regress/expected/expr.out
  regress/sql/expr.sql
  src/backend/parser/cypher_expr.c
Labels: master, override-stale

#1960 Fix issue 1956 - null key name passed. (#1957)
  regress/expected/expr.out
  regress/sql/expr.sql
  src/backend/utils/adt/agtype.c
Labels: PG16

#1961 Fix issue 1956 - null key name passed. (#1957)
  regress/expected/expr.out
  regress/sql/expr.sql
  src/backend/utils/adt/agtype.c
Labels: PG15

#1962 Fix issue 1956 - null key name passed. (#1957)
  regress/expected/expr.out
  regress/sql/expr.sql
  src/backend/utils/adt/agtype.c
Labels: PG14

#1963 Fix issue 1956 - null key name passed. (#1957)
  regress/expected/expr.out
  regress/sql/expr.sql
  src/backend/utils/adt/agtype.c
Labels: PG13

#1965 Add graph_exists function (#1958)
  age--1.5.0--y.y.y.sql
  regress/expected/catalog.out
  regress/sql/catalog.sql
  sql/age_agtype.sql
  src/backend/commands/graph_commands.c
Labels: PG16

#1966 Add graph_exists function (#1958)
  age--1.5.0--y.y.y.sql
  regress/expected/catalog.out
  regress/sql/catalog.sql
  sql/age_agtype.sql
  src/backend/commands/graph_commands.c
Labels: PG15

#1967 Add graph_exists function (#1958)
  age--1.5.0--y.y.y.sql
  regress/expected/catalog.out
  regress/sql/catalog.sql
  sql/age_agtype.sql
  src/backend/commands/graph_commands.c
Labels: PG14

#1968 Add graph_exists function (#1958)
  age--1.5.0--y.y.y.sql
  regress/expected/catalog.out
  regress/sql/catalog.sql
  sql/age_agtype.sql
  src/backend/commands/graph_commands.c
Labels: PG13

#1864 [CI] Update labeler github action
  .github/workflows/labeler.yml
Labels: PG16, override-stale

#1863 [CI] Update labeler github action
  .github/workflows/labeler.yml
Labels: PG15, override-stale

#1862 [CI] Update labeler github action
  .github/workflows/labeler.yml
Labels: PG14, override-stale

#1860 [CI] Update labeler github action
  .github/workflows/labeler.yml
Labels: PG12, override-stale

#1861 [CI] Update labeler github action
  .github/workflows/labeler.yml
Labels: PG13, override-stale

#1859 [CI] Update labeler github action
  .github/workflows/labeler.yml
Labels: PG11, override-stale

#1978 Update README.md (#1976)
  README.md
Labels: PG16

#1979 Update README.md (#1976)
  README.md
Labels: PG15

#1980 Update README.md (#1976)
  README.md
Labels: PG14

#1981 Update README.md (#1976)
  README.md
Labels: PG13

#1969 Fix issue 1953 - PG Boolean used as AGTYPE object (#1959)
  regress/expected/expr.out
  regress/sql/expr.sql
  src/backend/parser/cypher_expr.c
Labels: PG16

#1971 Fix issue 1953 - PG Boolean used as AGTYPE object (#1959)
  regress/expected/expr.out
  regress/sql/expr.sql
  src/backend/parser/cypher_expr.c
Labels: PG14

#1989 Fix issue 1986: Failure creating label name close to MAX_LABEL_NAME_LEN
  age--1.5.0--y.y.y.sql
  regress/expected/name_validation.out
  regress/sql/name_validation.sql
  sql/age_main.sql
  src/backend/commands/label_commands.c
  src/backend/utils/name_validation.c
  src/include/utils/name_validation.h
Labels: master, override-stale

#1992 Fix issue 1986: Failure creating label name close to MAX_LABEL_NAME_LEN (#1989)
  age--1.5.0--y.y.y.sql
  regress/expected/name_validation.out
  regress/sql/name_validation.sql
  sql/age_main.sql
  src/backend/commands/label_commands.c
  src/backend/utils/name_validation.c
  src/include/utils/name_validation.h
Labels: PG16, override-stale

#1993 Fix issue 1986: Failure creating label name close to MAX_LABEL_NAME_LEN (#1989)
  age--1.5.0--y.y.y.sql
  regress/expected/name_validation.out
  regress/sql/name_validation.sql
  sql/age_main.sql
  src/backend/commands/label_commands.c
  src/backend/utils/name_validation.c
  src/include/utils/name_validation.h
Labels: PG15, override-stale

#1994 Fix issue 1986: Failure creating label name close to MAX_LABEL_NAME_LEN (#1989)
  age--1.5.0--y.y.y.sql
  regress/expected/name_validation.out
  regress/sql/name_validation.sql
  sql/age_main.sql
  src/backend/commands/label_commands.c
  src/backend/utils/name_validation.c
  src/include/utils/name_validation.h
Labels: PG14, override-stale

#1995 Fix issue 1986: Failure creating label name close to MAX_LABEL_NAME_LEN (#1989)
  age--1.5.0--y.y.y.sql
  regress/expected/name_validation.out
  regress/sql/name_validation.sql
  sql/age_main.sql
  src/backend/commands/label_commands.c
  src/backend/utils/name_validation.c
  src/include/utils/name_validation.h
Labels: PG13, override-stale
